<!DOCTYPE HTML>
{% load static %}
{% load i18n %}
<html lang="en" data-textdirection="ltr" class="loading">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <title>First Step | Чат</title>
        <link href="{% static 'chat/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static 'chat/css/style.css' %}" rel="stylesheet" type="text/css" media="all">
        <title>Chat</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/img/favicons/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/fonts/feather/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/fonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/vendors/css/extensions/pace.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/core/menu/menu-types/vertical-overlay-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/fonts/simple-line-icons/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/pages/chat-application.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets2/css/style.css' %}">
  </head>
  <body data-open="click" data-menu="vertical-menu" data-col="content-left-sidebar" class="vertical-layout vertical-menu content-left-sidebar chat-application  menu-expanded fixed-navbar">
  <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
      <div class="navbar-wrapper">
        <div class="navbar-container content container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-user nav-item">
                <a href="/profile/{{ user.profile.slug }}" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online">
                    {% if user.profile.file %}
                    <img src="{{ user.profile.file.url }}" alt="avatar">
                    {% else %}
                    <img src="{% static 'assets/img/icons/avatar.jpg' %}" alt="avatar">
                    {% endif %}
                    <i></i></span>
                    {% if user.profile.name %}
                    <span class="user-name">{{ user.profile.name }}</span>
                    {% else %}
                    <span class="user-name">{{ user.username }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu">
                    <a href="/profile/{{ user.profile.slug }}" class="dropdown-item"><i class="icon-user"></i> Профіль</a>
                    <a href="/profile/{{ user.profile.slug }}/diet" class="dropdown-item">
                        <i><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="14" width="14"></i> Дієта
                    </a>
                    <a href="/profile/{{ user.profile.slug }}/friends" class="dropdown-item"><i class="ft-users"></i> Друзі
                    </a>
                    <a href="/profile/{{ user.profile.slug }}/recipes" class="dropdown-item">
                        <i><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="14" width="14"></i> Рецепти
                    </a>
                    <a href="/profile/{{ user.profile.slug }}/quick-decision" class="dropdown-item">
                    <i><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="14" width="14"></i> Швидке рішення
                    </a>
                    <a href="/profile/{{ user.profile.slug }}/settings" class="dropdown-item"><i class="icon-settings"></i> Налаштування
                    </a>
                </div>
            </li>
              <li class="dropdown dropdown-user nav-item">
                  <a href="/profile/{{ user.profile.slug }}" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                      <img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/chat.png' %}" height="30" width="30">
                </a>
                <div class="dropdown-menu">
                    <div id="users-list" class="list-group position-relative">
                       <div class="users-list-padding">
                           {% for dialog in object_list %}
                           {% if dialog == active_dialog %}
                                {% if dialog.owner == request.user %}
                               {% with dialog.opponent.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action bg-success border-right-success border-right-2">
                                        <div class="media-left">
                                            <span class="avatar avatar-md avatar-online">
                                                {% if dialog.opponent.profile.file %}
                                                <img class="media-object rounded-circle" src="{{ dialog.opponent.profile.file.url }}" alt="Generic placeholder image">
                                                {% else %}
                                                <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="list-group-item-heading text-white">{% if dialog.opponent.profile.name %}{{dialog.opponent.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                        </div>
                                    </a>
                               {% endwith %}
                               {% else %}
                               {% with dialog.owner.username as username %}
                                     <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action bg-success border-right-success border-right-2">
                                         <div class="media-left">
                                             <span class="avatar avatar-md avatar-online">
                                                 {% if dialog.owner.profile.file %}
                                                 <img class="media-object rounded-circle" src="{{ dialog.owner.profile.file.url }}" alt="Generic placeholder image">
                                                 {% else %}
                                                 <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                 {% endif %}
                                             </span>
                                         </div>
                                         <div class="media-body">
                                             <h6 class="list-group-item-heading text-white">{% if dialog.owner.profile.name %}{{dialog.owner.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                         </div>
                                     </a>
                                {% endwith %}
                                {% endif %}
                           {% else %}
                               {% if dialog.owner == request.user %}
                               {% with dialog.opponent.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action border-right-success border-right-2">
                                        <div class="media-left">
                                            <span class="avatar avatar-md avatar-online">
                                                {% if dialog.opponent.profile.file %}
                                                <img class="media-object rounded-circle" src="{{ dialog.opponent.profile.file.url }}" alt="Generic placeholder image">
                                                {% else %}
                                                <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="list-group-item-heading">{% if dialog.opponent.profile.name %}{{dialog.opponent.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                            Нових повідомлень: {{ dialog.no_read }}
                                        </div>
                                    </a>
                               {% endwith %}
                               {% else %}
                               {% with dialog.owner.username as username %}
                                     <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action border-right-success border-right-2">
                                         <div class="media-left">
                                             <span class="avatar avatar-md avatar-online">
                                                 {% if dialog.owner.profile.file %}
                                                 <img class="media-object rounded-circle" src="{{ dialog.owner.profile.file.url }}" alt="Generic placeholder image">
                                                 {% else %}
                                                 <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                 {% endif %}
                                             </span>
                                         </div>
                                         <div class="media-body">
                                             <h6 class="list-group-item-heading">{% if dialog.owner.profile.name %}{{dialog.owner.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                             Нових повідомлень: {{ dialog.no_read }}
                                         </div>
                                     </a>
                                {% endwith %}
                                {% endif %}
                           {% endif %}
                           {% endfor %}
                       </div>
                   </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <div class="app-content content container-fluid">
      <input id="owner_username" type="hidden" value="{{ request.user.username }}">
      <div class="sidebar-left sidebar-fixed">
           <div class="sidebar">
               <div class="sidebar-content card hidden-md-down">
                   <!--<div class="card-block chat-fixed-search">-->
                       <!--<fieldset class="form-group position-relative has-icon-left m-0">-->
                           <!--<input type="text" class="form-control" id="iconLeft4" placeholder="Знайти користувача">-->
                           <!--<div class="form-control-position">-->
                               <!--<i class="ft-search"></i>-->
                           <!--</div>-->
                       <!--</fieldset>-->
                   <!--</div>-->
                   <div id="users-list" class="list-group position-relative">
                       <div class="users-list-padding">
                           {% for dialog in object_list %}
                           {% if dialog == active_dialog %}
                                {% if dialog.owner == request.user %}
                               {% with dialog.opponent.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action bg-success border-right-success border-right-2">
                                        <div class="media-left">
                                            <span class="avatar avatar-md avatar-online">
                                                {% if dialog.opponent.profile.file %}
                                                <img class="media-object rounded-circle" src="{{ dialog.opponent.profile.file.url }}" alt="Generic placeholder image">
                                                {% else %}
                                                <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="list-group-item-heading text-white">{% if dialog.opponent.profile.name %}{{dialog.opponent.profile.name}}{% else %}{{ username }}{% endif %}</h6>
                                        </div>
                                    </a>
                               {% endwith %}
                               {% else %}
                               {% with dialog.owner.username as username %}
                                     <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action bg-success border-right-success border-right-2">
                                         <div class="media-left">
                                             <span class="avatar avatar-md avatar-online">
                                                 {% if dialog.owner.profile.file %}
                                                 <img class="media-object rounded-circle" src="{{ dialog.owner.profile.file.url }}" alt="Generic placeholder image">
                                                 {% else %}
                                                 <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                 {% endif %}
                                             </span>
                                         </div>
                                         <div class="media-body">
                                             <h6 class="list-group-item-heading text-white">{% if dialog.owner.profile.name %}{{dialog.owner.profile.name}}{% else %}{{ username }}{% endif %}</h6>
                                         </div>
                                     </a>
                                {% endwith %}
                                {% endif %}
                           {% else %}
                               {% if dialog.owner == request.user %}
                               {% with dialog.opponent.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action border-right-success border-right-2">
                                        <div class="media-left">
                                            <span class="avatar avatar-md avatar-online">
                                                {% if dialog.opponent.profile.file %}
                                                <img class="media-object rounded-circle" src="{{ dialog.opponent.profile.file.url }}" alt="Generic placeholder image">
                                                {% else %}
                                                <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="list-group-item-heading">{% if dialog.opponent.profile.name %}{{dialog.opponent.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                            Нових повідомлень: {{ dialog.no_read }}
                                        </div>
                                    </a>
                               {% endwith %}
                               {% else %}
                               {% with dialog.owner.username as username %}
                                     <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}" class="list-group-item list-group-item-action border-right-success border-right-2">
                                         <div class="media-left">
                                             <span class="avatar avatar-md avatar-online">
                                                 {% if dialog.owner.profile.file %}
                                                 <img class="media-object rounded-circle" src="{{ dialog.owner.profile.file.url }}" alt="Generic placeholder image">
                                                 {% else %}
                                                 <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image">
                                                 {% endif %}
                                             </span>
                                         </div>
                                         <div class="media-body">
                                             <h6 class="list-group-item-heading">{% if dialog.owner.profile.name %}{{dialog.owner.profile.name}}{% else %}{{ username }}{% endif %}<span class="font-small-3 float-xs-right success"></span></h6>
                                             Нових повідомлень: {{ dialog.no_read }}
                                         </div>
                                     </a>
                                {% endwith %}
                                {% endif %}
                           {% endif %}
                           {% endfor %}
                       </div>
                   </div>
               </div>
           </div>
      </div>
      <div class="content-right">
            <div class="content-wrapper">
                <div class="content-body">
                   <section class="chat-app-window">
                        <div class="chats">
                           <div id="messages" class="messages">
                               {% for msg in active_dialog.messages.all %}
                               <div class="{% if msg.read %}msg-read{% else %}msg-unread{% endif %} {% if msg.sender != request.user %}opponent{% endif %}" data-id="{{ msg.id }}">
                                   <div class="chat {% if msg.sender == request.user %}{% else %}chat-left{% endif %}">
                                        {% if msg.sender != request.user %}
                                       <div class="chat-avatar">
                                            <a class="avatar" data-toggle="tooltip" href="/profile/{{ user.profile.slug }}/user/{{ msg.sender.profile.slug }}/" data-placement="left" title="" data-original-title="">
                                                {% if msg.sender.profile.file %}
                                                <img class="media-object rounded-circle" src="{{ msg.sender.profile.file.url }}" alt="Generic placeholder image" style="height: 40px; width: 40px;">
                                                {% else %}
                                                <img class="media-object rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Generic placeholder image" style="height: 40px; width: 40px;">
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% endif %}
                                       <div class="chat-body">
                                           <div class="chat-content">

                                               <p title="{{ msg.get_formatted_create_datetime }}">{{ msg.text }}</p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                {% endfor %}
                        </div>
                    <span class="chat chat-left" hidden id="typing-text">
                        <div class="chat-body">
                            <div class="chat-content">
                        <strong>{{ opponent_username }} {% trans "набирає повідомлення..." %}</strong>
                            </div>
                        </div>
                    </span>
                    </div>
                   </section>
                <section class="chat-app-form">
                      <div class="chat-app-input">
                          <fieldset class="form-group col-xs-10 m-0" >
                              <input type="text" id="chat-message" class="form-control" id="iconLeft4" placeholder="Введіть своє повідомлення">
                          </fieldset>
                          <fieldset class="form-group position-relative has-icon-left col-xs-2 m-0">
                              <button type="button" id="btn-send-message" type="submit" value="{% trans 'Send' %}" class="btn btn-success"><i class="fa fa-paper-plane-o hidden-lg-up"></i> <span class="hidden-md-down">Відправити</span></button>
                          </fieldset>
                      </div>
                  </section>
            </div>
            </div>
        </div>



  </div>
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
  <script src="{% static 'chat/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'chat/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'chat/js/handlebars-v1.3.0.js' %}" type="text/javascript"></script>
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
          integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
  <script>
        var base_ws_server_path = "{{ ws_server_path }}";
        $(document).ready(function () {
            var websocket = null;
            var monitor = null;

            function initReadMessageHandler(containerMonitor, elem) {
                var id = $(elem).data('id');
                var elementWatcher = containerMonitor.create(elem);
                elementWatcher.enterViewport(function () {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'read_message',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        message_id: id
                    });
                    $(elem).removeClass('msg-unread').addClass('msg-read');
                    websocket.send(packet);
                });
            }

            function initScrollMonitor() {
                var containerElement = $("#messages");
                var containerMonitor = scrollMonitor.createContainer(containerElement);
                $('.msg-unread').each(function (i, elem) {
                    if ($(elem).hasClass('opponent')){
                        initReadMessageHandler(containerMonitor, elem);
                    }

                });
                return containerMonitor
            }

            function getOpponnentUsername() {
                return "{{ opponent_username }}";
            }

            // TODO: Use for adding new dialog
            function addNewUser(packet) {
                $('#user-list').html('');
                packet.value.forEach(function (userInfo) {
                    if (userInfo.username == getUsername()) return;
                    var tmpl = Handlebars.compile($('#user-list-item-template').html());
                    $('#user-list').append(tmpl(userInfo))
                });
            }

            function addNewMessage(packet) {
                 var msg_class = "";
                 if (packet['sender_name'] == $("#owner_username").val()) {
                     msg_class = "";
                 } else {
                     msg_class = "chat-left";
                 }
                 var msgElem =
                     $('<div class="msg-unread" data-id="' + packet.message_id + '">' +
                         '<div class="' + msg_class + '">' +
                             '<div class="chat-body">' +
                                 '<div class="chat-content">' +
                                 '<p title="'+ packet['created'] +'">' + packet['message'] + '</p>' +
                             '</div>' +
                         '</div>' +
                         '</div>' +
                         '</div>');
                 $('#messages').append(msgElem);
                 scrollToLastMessage()
             }

            function scrollToLastMessage() {
                var $msgs = $('#messages');
                $msgs.animate({"scrollTop": $msgs.prop('scrollHeight')})
            }

            function generateMessage(context) {
                var tmpl = Handlebars.compile($('#chat-message-template').html());
                return tmpl({msg: context})
            }

            function setUserOnlineOffline(username, online) {
                var elem = $("#user-" + username);
                if (online) {
                    elem.attr("class", "btn btn-success");
                } else {
                    elem.attr("class", "btn btn-danger");
                }
            }

            function gone_online() {
                $("#offline-status").hide();
                $("#online-status").show();
            }

            function gone_offline() {
                $("#online-status").hide();
                $("#offline-status").show();
            }

            function flash_user_button(username) {
                var btn = $("#user-" + username);
                btn.fadeTo(700, 0.1, function () {
                    $(this).fadeTo(800, 1.0);
                });
            }

            function setupChatWebSocket() {
                var opponent_username = getOpponnentUsername();
                websocket = new WebSocket(base_ws_server_path + '{{ request.session.session_key }}/' + opponent_username);

                websocket.onopen = function (event) {
                    var opponent_username = getOpponnentUsername();

                    var onOnlineCheckPacket = JSON.stringify({
                        type: "check-online",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username
                        {#                      Sending username because the user needs to know if his opponent is online #}
                    });
                    var onConnectPacket = JSON.stringify({
                        type: "online",
                        session_key: '{{ request.session.session_key }}'

                    });

                    console.log('connected, sending:', onConnectPacket);
                    websocket.send(onConnectPacket);
                    console.log('checking online opponents with:', onOnlineCheckPacket);
                    websocket.send(onOnlineCheckPacket);
                    monitor = initScrollMonitor();
                };


                window.onbeforeunload = function () {

                    var onClosePacket = JSON.stringify({
                        type: "offline",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        {# Sending username because to let opponnent know that the user went offline #}
                    });
                    console.log('unloading, sending:', onClosePacket);
                    websocket.send(onClosePacket);
                    websocket.close();
                };


                websocket.onmessage = function (event) {
                    var packet;

                    try {
                        packet = JSON.parse(event.data);
                        console.log(packet)
                    } catch (e) {
                        console.log(e);
                    }

                    switch (packet.type) {
                        case "new-dialog":
                            // TODO: add new dialog to dialog_list
                            break;
                        case "user-not-found":
                            // TODO: dispay some kind of an error that the user is not found
                            break;
                        case "gone-online":
                            if (packet.usernames.indexOf(opponent_username) != -1) {
                                gone_online();
                            } else {
                                gone_offline();
                            }
                            for (var i = 0; i < packet.usernames.length; ++i) {
                                setUserOnlineOffline(packet.usernames[i], true);
                            }
                            break;
                        case "gone-offline":
                            if (packet.username == opponent_username) {
                                gone_offline();
                            }
                            setUserOnlineOffline(packet.username, false);
                            break;
                        case "new-message":
                            if (packet['sender_name'] == opponent_username || packet['sender_name'] == $("#owner_username").val()) {
                                addNewMessage(packet);
                                if (packet['sender_name'] == opponent_username) {
                                    initReadMessageHandler(monitor, $("div[data-id='" + packet['message_id'] + "']"));
                                }
                            } else {
                                flash_user_button(packet['sender_name']);
                            }
                            break;
                        case "opponent-typing":
                            var typing_elem = $('#typing-text');
                            if (!typing_elem.is(":visible")) {
                                typing_elem.fadeIn(500);
                            } else {
                                typing_elem.stop(true);
                                typing_elem.fadeIn(0);
                            }
                            typing_elem.fadeOut(3000);
                            break;
                        case "opponent-read-message":
                            if (packet['username'] == opponent_username) {
                                $("div[data-id='" + packet['message_id'] + "']").removeClass('msg-unread').addClass('msg-read');
                            }
                            break;

                        default:
                            console.log('error: ', event)
                    }
                }
            }

            function sendMessage(message) {
                var opponent_username = getOpponnentUsername();
                var newMessagePacket = JSON.stringify({
                    type: 'new-message',
                    session_key: '{{ request.session.session_key }}',
                    username: opponent_username,
                    message: message
                });
                websocket.send(newMessagePacket)
            }

            $('#chat-message').keypress(function (e) {
                if (e.which == 13 && this.value) {
                    sendMessage(this.value);
                    this.value = "";
                    return false
                } else {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'is-typing',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        typing: true
                    });
                    websocket.send(packet);
                }
            });

            $('#btn-send-message').click(function (e) {
                var $chatInput = $('#chat-message');
                var msg = $chatInput.val();
                if (!msg) return;
                sendMessage($chatInput.val());
                $chatInput.val('')
            });

            setupChatWebSocket();
            scrollToLastMessage();
        });

    </script>
  </body>
</html>
