.notify-badge{
    position: relative;
    background: rgba(0,0,255,1);
    height:2rem;
    top:1rem;
    left:1.5rem;
    width:4rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    border:1px solid blue;
}


.special-icon{
    width: 100%;
}