{% extends 'core/base_profile_ru.html' %}
{% load static %}

{% block title %}{{ recipe.name_ru }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/recipe.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ recipe.name_ru }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/ru/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профиль</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between list-group-item-action">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Диета</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзья</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/ru/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепты</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Быстрое решение</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
          <h3 class="h6 mb-0">
            <i class="icon-food-017 u-line-icon-pro text-white g-pos-rel g-top-1 g-mr-5"></i><a class="text-white"> {{ recipe.name_ru }}</a>
          </h3>
        </div>
        <div class="w-75 u-shadow-v2" style="margin: auto;">
          {% if recipe.image %}
          <a href="{{ recipe.image.url }}" data-fancybox>
            <img class="rounded w-100" src="{{ recipe.image.url }}" alt="">
          </a>
          {% else %}
          <a href="{% static 'assets/img/coming-soon.png' %}" data-fancybox>
            <img class="rounded w-100" src="{% static 'assets/img/coming-soon.png' %}" alt="">
          </a>
          {% endif %}
        </div><br>
        <hr class="g-brd-gray-light-v4 g-my-0">
        <ul class="row list-inline g-py-20 g-ma-0" >
          <li class="col g-brd-right">
            <div style="text-align: center">
              <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="add" href="#!" title="Добавить в рацион">
                <i><img  src="{% static 'assets/img/icons/plus.png' %}" style="width: 100%"></i>
              </a>
            </div>
          </li>
          {% if recipe.recipe_category_id == 1 %}
          <li class="col g-brd-right">
            <div style="text-align: center">
              <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="save" href="#!" title="Сохранить рецепт">
                <i><img  src="{% static 'assets/img/icons/save.png' %}" style="width: 100%"></i>
              </a>
            </div>
          </li>
          {% endif %}
          <!--<li class="col g-brd-right g-brd-gray-light-v4">-->
            <!--<div style="text-align: center">-->
              <!--<a class="u-icon-v1 u-icon-size&#45;&#45;sm g-color-gray-dark-v5 g-bg-transparent g-color-red&#45;&#45;hover" href="#!" title="Подобається">-->
                <!--<i><img  src="{% static 'assets/img/icons/like.png' %}" style="width: 100%"></i>-->
              <!--</a>-->
              <!--{% if recipe.likes %}-->
              <!--{{ recipe.likes }}-->
              <!--{% else %}-->
              <!--0-->
              <!--{% endif %}-->
            <!--</div>-->
          <!--</li>-->
        </ul>
        <hr class="g-brd-gray-light-v4 g-my-0"><br>
          <div class="g-mb-40 g-mb-0--lg">
            <div class="card border-0 ">
              <div class="u-shadow-v1-3 g-pa-40 g-bg-graylight-radialgradient-ellipse">
                  <a class="text-900 font-weight-bold f font-italic">1 порция: {{ recipe.portion }} {{ recipe.portion_data.name_ru }}. В которых: {{ recipe.proteins }} гр. белка, {{ recipe.carbohydrates }} гр. углеводов, {{ recipe.fats }} гр. жиров, {{recipe.calories}} калорий.</a>
                  <a class="text-900 font-weight-bold f font-italic">(за один прием пищи рекомендуется {{ recommend }} калорий)</a>
              </div>
            </div>
          </div>
          <br>
        <div class="row g-mb-40 noselect">
          <div class="col-lg-6 g-mb-40 g-mb-0--lg">
            <div class="card border-0 ">
              <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                  <i class="icon-list g-pos-rel g-top-1 text-white g-mr-5"></i><a class="text-white"> Ингредиенты</a>
                </h3>
              </div>
              <div class="u-shadow-v1-3 g-pa-40 g-bg-graylight-radialgradient-ellipse">
                <a class="text-900 font-weight-bold f font-italic">{{ recipe.products_ru|linebreaks }}</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="border-0">
              <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                  <i class="icon-communication-020 g-pos-rel g-top-1 text-white g-mr-5"></i><a class="text-white"> Способ приготовления</a>
                </h3>
              </div>
              <div class="u-shadow-v1-3 g-pa-40 g-bg-graylight-radialgradient-ellipse">
                <a class="text-900 font-weight-bold f font-italic">{{ recipe.cooking_method_ru|linebreaks }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


                            <div class="remodal" data-remodal-id="add">
                            <button class="remodal-close" id="AddClose" data-remodal-action="close"></button>
                            <h4>Добавить в дневной рацион: {{ recipe.name_ru }}</h4>
                            <br>
                            <h5>Количество порций:</h5>
                            <h6>(за один прием пищи рекомендуется {{ recommend }} калорий)</h6>
                            <h6>1 порция: {{ recipe.portion }} {{ recipe.portion_data.name_ru }}, {{recipe.calories}} калорий.</h6>
                            <br>
                            <form method="post" id="Add">
                                {% csrf_token %}
                                <label for="id_user" style="display: none;">User:</label>
                                <select name="user" required="" id="id_user" style="display: none;">
                                    <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                                </select>
                                <h5>Прием пищи:</h5>
                                <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                                <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                    <option value="" selected="">---------</option>
                                    {% for meal in meals %}
                                    <option value="{{ meal.id }}">{{ meal.name_ru }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id_recipe" style="display: none;">Recipes:</label>
                                <select name="recipe" id="id_recipe" style="display: none;">
                                    <option value="{{ recipe.id }}" selected="">---------</option>
                                </select>
                                <br><br><h5>Количество порций:</h5>
                                <label for="id_portion_number" style="display: none;">Portion Number:</label>
                                <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                    <option value="" selected="">---------</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <br><br><br>
                                <button class="btn btn-sm btn-success mr-3" type="submit">Добавить</button>
                                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Отменить</button>
                            </form>
                        </div>
                        <div class="remodal" data-remodal-id="save">
                        <button class="remodal-close" id="SaveClose" data-remodal-action="close"></button>
                        <h4>Сохранить рецепт: {{ recipe.name_ru }}?</h4>
                        <form method="post" id="Save">
                            {% csrf_token %}
                            <br><br>
                            <label for="id_recipes" style="display: none;"></label>
                            <select name="recipes" required="" id="id_recipes" style="display: none;" multiple="">
                                <option value="{{ recipe.id }}" selected=""></option>
                            </select>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Сохранить</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Отменить</button>
                        </form>
                    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
        $(document).ready(function() {
            $('#Add').ajaxForm(function() {
                document.getElementById("AddClose").click();
                alert("Блюдо успешно добавлено");
            });
        });
        $(document).ready(function() {
            $('#Save').ajaxForm(function() {
                document.getElementById("SaveClose").click();
                alert("Блюдо сохранено");
            });
        });
</script>
{% endblock %}
