{% load static %}
<div class="mt-6" id="comments">
          <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
          <div class="js-scrollbar g-height-680 g-brd-around rounded g-pa-20 g-mb-30 shadow">
            {% for comment in comments %}
            <div class="media g-mb-30">
                {% if comment.author.profile.file %}
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="{{ comment.author.profile.file.url }}">
                {% else %}
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="{% static 'assets/img/icons/avatar.jpg' %}">
                {% endif %}
              <div class="media-body">
                <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                  <div class="d-block">
                      {% if comment.author.profile.name %}
                        <h5 class="h6">{{ comment.author.profile.name }}</h5>
                      {% else %}
                        <h5 class="h6">{{ comment.author.username }}</h5>
                      {% endif %}
                    <span class="d-block g-color-gray-dark-v5 g-font-size-11">{{ comment.created|date:"d.m.y" }} {{ comment.created|time:"H:i" }}</span>
                  </div>
                </div>
                <p>{{ comment.comment }}</p>
              </div>
            </div>
            <hr class="g-brd-gray-light-v4">
            {% endfor %}
          </div>
            {% if user.is_authenticated %}
            <form method="post" id="add">
                {% csrf_token %}
                  <select name="author" style="display: none;" required="" id="id_author">
                      <option value="{{ user.id }}" style="display: none;" selected="">---------</option>
                  </select>
                <select name="article" style="display: none;" required="" id="id_article">
                    <option value="{{ article.id }}" style="display: none;" selected="">---------</option>
                </select>
                <div class="g-mb-30">
              <textarea name="comment" maxlength="300" required="" id="id_comment" class="form-control g-bg-secondary g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="5" placeholder="Ваш коментар..." ></textarea>
            </div>
              <div class="row mb-4 align-items-center">
                <div class="col-auto">
                  <input class="btn btn-success btn-block" type="submit" name="submit" value="Відправити">
                </div>
              </div>
            </form>
            {% else %}
            <div class="g-mb-30">
              <textarea class="form-control g-bg-secondary g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="5" placeholder="Ваш коментар..." disabled=""></textarea>
            </div>
            <div class="d-flex align-items-center">
                <a href="/login">
                    <input  class="btn btn-success g-font-size-12  mr-4" value="Увійти">
                    </a>
              <p class="g-font-size-13 mb-0">Увійдіть, щоб написати коментар</p>
            </div>
            {% endif %}
        </div>
{% block js %}
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'assets1/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>

<script src="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets1/js/hs.core.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.tabs.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.counter.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.rating.js' %}"></script>


  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>


<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
  $(document).ready(function() {
    $('#add').ajaxForm(function() {
      document.getElementById("ajax-text-me").click();
    });
  });
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/blog/article/{{ article.slug }}/',
                data: "article_slug={{ article.slug }}",
                success: function(data) {
                    $("#comments").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#comments").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>

{% endblock %}
