{%load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ article.name_ru }}</title>

    {% block favicons %}
    {% include 'core/favicons.html' %}
    {% endblock %}
    <link href="{% static '/assets/lib/loaders.css/loaders.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="{% static '/assets/lib/remodal/remodal.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/remodal/remodal-default-theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/unify-globals.css' %}">
</head>
<body class="has-sidemenu overflow-hidden-x">
{% block navbar %}
{% include 'core/navbar_ru.html' %}
{% endblock %}
<main class="main minh-100vh" id="top">
  <div class="preloader" id="preloader">
    <div class="preloader-inner">
      <div class="preloader-line-wrap">
        <div class="preloader-line"></div>
      </div>
      <div class="preloader-line-wrap">
        <div class="preloader-line"></div>
      </div>
      <div class="preloader-line-wrap">
        <div class="preloader-line"></div>
      </div>
      <div class="preloader-line-wrap">
        <div class="preloader-line"></div>
      </div>
      <div class="preloader-line-wrap">
        <div class="preloader-line"></div>
      </div>
    </div>
  </div>
  <section class="py-0">
    <div class="bg-holder overlay" style="background-image:url({% static 'assets/img/fon/article.jpg' %});" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
    </div>
    <div class="container">
      <div class="row align-items-end minh-50vh">
        <div class="col-lg-8 mb-6">
          <h2 class="text-white display-4 fs-3 fs-md-4" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ article.name_ru }}</h2>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12  noselect">
          <h3 class="mt-4">{{ article.description_ru }}</h3>
          <img class="d-block mt-5 w-100"
               src="{{ article.main_image.url }}" alt="">
          <p class="mt-4">{{ article.first_half_ru|linebreaks }}</p>
          {% if article.image_1 %}
          <div class="my-6">
              <div class="pr-1">
                <img class="d-block mt-5 w-100"
               src="{{ article.image_1.url }}" alt="">
              </div>
          </div>
          {% endif %}
          <p class="mt-4">{{ article.second_half_ru|linebreaks }}</p>
          {% if article.image_2 and article.image_3  %}
          <div class="my-6">
            <div class="row mt-2">
                <div class="col-6 pr-1">
                  <a data-fancybox="group" data-caption="Image caption">
                    <img class="rounded w-100 h-100 fit-cover" src="{{ article.image_2.url }}" alt="">
                  </a>
                </div>
                <div class="col-6 pl-1">
                  <a data-fancybox="group" data-caption="Image caption">
                    <img class="rounded w-100 h-100 fit-cover" src="{{ article.image_3.url }}" alt="">
                  </a>
                </div>
              </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col">
              <a class="text-sans-serif text-500" href="#">{{ article.created|date:"d.m.y" }}</a>
            </div>
            <div class="col ml-auto text-sans-serif text-right">
              <!--<a class="mr-3 text-500" href="#"><span class="fas fa-heart mr-1 text-danger"></span>{{ article.likes.count }}</a>-->
              <a class="text-500"><span class="far fa-comment mr-1"></span>{{ comments.count }}</a>
            </div>
          </div>
        </div>
        <div class="col-12 mt-6 col-lg-8">
          <div class="bg-light p-5 rounded shadow">
            <div class="row no-gutters justify-content-center text-center text-sm-left">
              <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 align-self-center pr-sm-3 pb-3 pb-sm-0">
                <a href="/blog/ru/team-member/{{ article.author.profile.slug }}">
                  <img class="rounded-circle img-fluid" src="{{ article.author.profile.file.url }}" alt="">
                </a>
              </div>
              <div class="col-sm">
                <a href="/blog/ru/team-member/{{ article.author.profile.slug }}">
                  <h5 style="color: #72c02c">Автор: {{ article.author.last_name }} {{ article.author.first_name }}</h5>
                </a>
                <p class="text-sans-serif">{{ article.author.profile.short_description_ru }}</p>
                {% if article.author.profile.instagram %}
                <a class="text-sans-serif fs--1 font-weight-black text-black" href="{{ article.author.profile.instagram }}">
                  <img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/instagram.png' %}" height="32" width="32"></a>
                {% endif %}
                {% if article.author.profile.facebook %}
                <a class="text-sans-serif fs--1 font-weight-black text-black" href="{{ article.author.profile.facebook }}">
                  <img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/facebook.png' %}" height="32" width="32"></span>
                </a>
                {% endif %}
                {% if article.author.profile.you_tube %}
                <a class="text-sans-serif fs--1 font-weight-black text-black" href="{{ article.author.profile.you_tube }}">
                  <img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/youtube.png' %}" height="32" width="32">
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>




        <div class="mt-6" id="comments">
          <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
          <div class="js-scrollbar g-height-680 g-brd-around rounded g-pa-20 g-mb-30 shadow">
            {% for comment in comments %}
            <div class="media g-mb-30">
                {% if comment.author.profile.file %}
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="{{ comment.author.profile.file.url }}">
                {% else %}
                <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="{% static 'assets/img/icons/avatar.jpg' %}">
                {% endif %}
              <div class="media-body">
                <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                  <div class="d-block">
                      {% if comment.author.profile.name %}
                        <h5 class="h6">{{ comment.author.profile.name }}</h5>
                      {% else %}
                        <h5 class="h6">{{ comment.author.username }}</h5>
                      {% endif %}
                    <span class="d-block g-color-gray-dark-v5 g-font-size-11">{{ comment.created|date:"d.m.y" }} {{ comment.created|time:"H:i" }}</span>
                  </div>
                </div>
                <p>{{ comment.comment }}</p>
              </div>
            </div>
            <hr class="g-brd-gray-light-v4">
            {% endfor %}
          </div>
            {% if user.is_authenticated %}
            <form method="post" id="add">
                {% csrf_token %}
                  <select name="author" style="display: none;" required="" id="id_author">
                      <option value="{{ user.id }}" style="display: none;" selected="">---------</option>
                  </select>
                <select name="article" style="display: none;" required="" id="id_article">
                    <option value="{{ article.id }}" style="display: none;" selected="">---------</option>
                </select>
                <div class="g-mb-30">
              <textarea name="comment" maxlength="300" required="" id="id_comment" class="form-control g-bg-secondary g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="5" placeholder="Ваш комментарий..." ></textarea>
            </div>
              <div class="row mb-4 align-items-center">
                <div class="col-auto">
                  <input class="btn btn-success btn-block" type="submit" name="submit" value="Отправить">
                </div>
              </div>
            </form>
            {% else %}
            <div class="g-mb-30">
              <textarea class="form-control g-bg-secondary g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" rows="5" placeholder="Ваш комментарий..." disabled=""></textarea>
            </div>
            <div class="d-flex align-items-center">
                <a href="/login">
                    <input  class="btn btn-success g-font-size-12  mr-4" value="Войти">
                    </a>
              <p class="g-font-size-13 mb-0">Чтобы написать комментарий</p>
            </div>
            {% endif %}
        </div>



        {% if more %}
        <div class="row">
        <div class="col-12 mt-8">
          <h4 class="mb-4">Больше от {{ article.author.first_name }}</h4>
        </div>
        {% for i in more %}
        <div class="col-lg-4 shadow">
          <br>
          <a href="/blog/ru/article/{{ i.slug }}">
          <img class="rounded img-fluid" src="{{ i.main_image.url }}" alt="">
          <h5 class="mt-3" style="color: #666">{{ i.name_ru }}</h5>
            <br>
            </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    </div>
  </section>
  <section class="text-center" style="padding-top: 6rem; padding-bottom: 6rem; background-color: #F5F5F5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            <!--<a href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1">-->
            <!--<i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
              <a href="https://www.instagram.com/first_step_diet/"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a>
              <a href="#"><span class="fab fa-facebook-f text-black fs-1 mx-2"></span></a>
              <!--<a href="#"><span class="fab fa-pinterest-p text-black fs-1 mx-2"></span></a>-->
              <div class="d-block mt-4 fs--1 font-weight-bold text-sans-serif">
                <a class="mx-2 text-700" href="/ru/help">FAQ</a>
                <a class="mx-2 text-700" href="/ru/conditions">Условия пользования</a>
                <a class="mx-2 text-700" href="/ru/private">Политика конфиденциальности</a>
                  <a class="mx-2 text-700" href="/ru/contact">Контакты</a>
                <a class="mx-2 text-700" href="/">UA</a>
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/visa.png' %}">
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/mastercard.png' %}">
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}

{% block language %}
{% include 'core/language.html' %}
{% endblock %}
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.js' %}"></script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/stickyfill.min.js' %}"></script>
<script src="{% static '/assets/lib/remodal/remodal.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-packery/packery-mode.pkgd.min.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static '/assets/lib/lightbox2/js/lightbox.js' %}"></script>
<script src="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>




<script src="{% static 'assets1/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>

<script src="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets1/js/hs.core.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.tabs.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.counter.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.rating.js' %}"></script>


  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>

<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<script>
  $(document).ready(function() {
    $('#add').ajaxForm(function() {
      document.getElementById("ajax-text-me").click();
    });
  });
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/blog/article/{{ article.slug }}/',
                data: "article_slug={{ article.slug }}",
                success: function(data) {
                    $("#comments").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#comments").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>
</body>
</html>


