{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Блог') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static 'assets/img/fon/blog.jpg' %});">
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for article in articles %}
        <div class="mb-4">
          <a class="text-sans-serif text-500" href="#">{{ article.created|date:"d.m.y" }}</a>
          <a style="color: #3F3F3F" href="/blog/ru/article/{{ article.slug }}">
            <h3>{{ article.name_ru }}</h3>
          </a>
          <br>
          <a class="text-black" href="/blog/ru/article/{{ article.slug }}">
          <img class="d-block w-100 mb-4 rounded" src="{{ article.main_image.url }}" alt="">
          </a>
          <p class="mt-4 font-weight-semi-bold">{{ article.description_ru }}</p>
          <a class="btn btn-link pl-0" style="color: #72c02c" href="/blog/ru/article/{{ article.slug }}">Подробней<span class="d-inline-block ml-1">&xrarr;</span></a>
          <br>
          <!--<a href="#"><span class="fas fa-heart text-danger mt-3"></span><span class="text-400 text-sans-serif pl-1">{{ article.likes.count }}</span></a>-->
          <a href="/blog/ru/article/{{ article.slug }}"><span class="far fa-comment text-300"></span><span class="text-400 text-sans-serif pl-1">{{ article.get_comments }}</span></a>
        </div>
        {% endfor %}
              {% if articles.has_other_pages %}
              <ul class="pagination justify-content-center">
                {% if articles.has_previous %}
                <li class="list-inline-item float-sm-left page-item d-none d-lg-block">
                  <a class="u-pagination-v1__item  page-link u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ articles.previous_page_number }}">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-left disabled page-item d-none d-lg-block">
                  <a class="u-pagination-v1__item page-link u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% endif %}
                {% for i in articles.paginator.page_range %}
                {% if articles.number == i %}
                <li class="list-inline-item g-hidden-sm-down text-white page-item active d-none d-lg-block" >
                  <a class="u-pagination-v1__item  page-link u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" >{{ i }}</a>
                </li>
                {% else %}
                <li class="list-inline-item g-hidden-sm-down page-item d-none d-lg-block">
                  <a class="u-pagination-v1__item page-link u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                <li class="list-inline-item float-sm-right page-item d-none d-lg-block">
                  <a class="u-pagination-v1__item page-link u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ articles.next_page_number }}">
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-right disabled page-item d-none d-lg-block">
                  <a class="u-pagination-v1__item page-link u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0 pl-xl-7">
        <div class="row px-2">
          <div class="col">
            <!--<form class="input-iconic">-->
              <!--<div class="input-icon">-->
                <!--<button type="submit"><span class="fas fa-search text-300"></span></button>-->
              <!--</div>-->
              <!--<input class="form-control" type="search" placeholder="Search..." />-->
            <!--</form>-->
            <h4 class="mt-5">Популярное:</h4>

            {% for article in popular %}
            <a class="mt-3 d-inline-block" href="/blog/ru/article/{{ article.slug }}">
              <img class="rounded w-100 fit-cover" src="{{ article.main_image.url }}" alt="" />
              <h5 class="mt-3" style="color: #666">{{ article.name_ru }}</h5>
            </a>
            {% endfor %}
            <div class="mt-6">
              <h4>Категории:</h4>
              <ul class="bullet-inside pl-0 text-sans-serif">
                <li>
                  <a class="text-600" href="/blog">Все</a>
                </li>
                {% for category in categories %}
                <li>
                  <a class="text-600" href="/blog/ru/{{ category.slug }}">{{ category.name_ru }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
