{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ profile.name }}{% endblock %}
{% block content %}
<section class="py-0" id="page-profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 px-0">
        <div class="sticky-top overflow-hidden minh-50vh minh-xl-100vh">
          <div class="bg-holder" style="background-image:url({{ profile.team_image.url }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
          </div>
        </div>
      </div>
      <div class="col-xl-5 bg-white py-6 noselect">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-8">
            <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="col-sm-10 col-lg-12">
                <div class="overflow-hidden">
                  <h3 data-zanim-xs='{"delay":0.1}'>{{ profile.user.last_name }} {{ profile.user.first_name }}</h3>
                </div>
              </div>
              <div class="col-sm-7 col-lg-12">
                <div class="overflow-hidden">
                  <p class="mb-0 pr-sm-5 pr-lg-0" data-zanim-xs='{"delay":0.3}'>{{ profile.description|linebreaks }}</p>
                </div>
              </div>
              <div class="col-sm-3 col-lg-12 mt-6 mt-sm-0 mt-lg-6">
                <div class="overflow-hidden">
                  <h6 class="text-uppercase ls" data-zanim-xs='{"delay":0.4}'>Контакти</h6>
                </div>
                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.5}'>
                    <a class="text-700">{{ profile.user.email }}</a>
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.5}'>
                    <a class="text-700">Nickname на сервісі {% if profile.name %}{{ profile.name }}{% else %}{{ profile.user.username }}{% endif %}</a>
                  </div>
                </div>
                <div class="overflow-hidden">
                  <div data-zanim-xs='{"delay":0.6}'>
                    <h6 class="text-uppercase ls mt-4">Слідкуй за мною:</h6>
                    <div class="mt-3 fs--1">
                      {% if profile.instagram %}
                      <a class="btn btn-outline-light btn-xs border-300 mr-2" href="{{ profile.instagram }}" target="_blank">
                        <span class="fab fa-instagram text-800"></span></a>
                      {% endif %}
                      {% if profile.facebook %}
                      <a class="btn btn-outline-light btn-xs border-300 mr-2" href="{{ profile.facebook}}" target="_blank">
                        <span class="fab fa-facebook text-800"></span></a>
                      {% endif %}
                      {% if profile.you_tube %}
                      <a class="btn btn-outline-light btn-xs border-300" href="{{ profile.you_tube }}" target="_blank">
                        <span class="fab fa-youtube text-800"></span></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
