/*-----------------------------------------------
|   Pre-loader
-----------------------------------------------*/
.preloader {
    background: #000;
    background: radial-gradient(#fff, #444);
    bottom: 0;
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(.77, 0, .18, 1);
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    @include media-breakpoint-up(lg){
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: map_get($spacers, 8);
      padding-bottom: map_get($spacers, 6);
    ;
    }
    &.loaded{
      opacity: 0;
    }
}

.preloader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.preloader-line-wrap {
    animation:
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.preloader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.preloader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.preloader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.preloader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.preloader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.preloader-line-wrap:nth-child(5) { animation-delay: -250ms; }
.preloader-line-wrap:nth-child(6) { animation-delay: -300ms; }

.preloader-line-wrap:nth-child(1) .preloader-line {
    border-color: hsl(116, 100%, 0%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.preloader-line-wrap:nth-child(2) .preloader-line {
    border-color: hsl(116, 70%, 19%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.preloader-line-wrap:nth-child(3) .preloader-line {
    border-color: hsl(116, 63%, 45%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.preloader-line-wrap:nth-child(4) .preloader-line {
    border-color: hsl(116, 54%, 69%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.preloader-line-wrap:nth-child(5) .preloader-line {
    border-color: hsl(116, 49%, 91%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
