{% load static %}
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block favicons %}
  {% include 'core/favicons.html' %}
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets1/vendor/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-line/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-etlinefont/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-line-pro/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static '/assets1/vendor/chosen/chosen.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/hamburgers/hamburgers.min.css' %}">
  <link  rel="stylesheet" href="{% static '/assets1/vendor/slick-carousel/slick/slick.css' %}">
  <link  rel="stylesheet" href="{% static '/assets1/vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
  <link href="{% static '/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/badge.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'assets1/css/unify-core.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/css/unify-components.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/css/unify-globals.css' %}">

  <link rel="stylesheet" href="{% static 'assets1/css/custom.css' %}">

  <link href="{% static '/assets/lib/remodal/remodal.css' %}" rel="stylesheet">
  <link href="{% static '/assets/lib/remodal/remodal-default-theme.css' %}" rel="stylesheet"/>
  <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet">
  <link href="{% static 'assets/lib/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/lib/semantic-ui-accordion/accordion.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/lib/semantic-ui-transition/transition.min.css' %}" rel="stylesheet">
  <script type="text/javascript">
    window.onload = startInterval;
    function startInterval()
    {
        setInterval("startTime();",1000);
    }
    
    function startTime()
    {
        document.getElementById('sidebar').innerHTML = Date();  
    }
  </script>
</head>
<input type="hidden" id="refreshed" value="no">
{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}
<main class="main minh-100vh" id="top">
  {% block content %}
  {% endblock %}
  <section class="text-center" style="padding-top: 6rem; padding-bottom: 6rem; background-color: #F5F5F5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            <!--<a href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1">-->
            <!--<i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
              <a href="https://www.instagram.com/first_step_diet/"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a>
              <a href="#"><span class="fab fa-facebook-f text-black fs-1 mx-2"></span></a>
              <!--<a href="#"><span class="fab fa-pinterest-p text-black fs-1 mx-2"></span></a>-->
              <div class="d-block mt-4 fs--1 font-weight-bold text-sans-serif">
                <a class="mx-2 text-700" href="/help">FAQ</a>
                <a class="mx-2 text-700" href="/conditions">Умови користування</a>
                <a class="mx-2 text-700" href="/private">Політика конфіденційності</a>
                  <a class="mx-2 text-700" href="/contact">Контакти</a>
                <a class="mx-2 text-700" href="/ru">RU</a>
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/visa.png' %}">
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/mastercard.png' %}">
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}

{% block language %}
{% include 'core/language.html' %}
{% endblock %}
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'assets1/vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'assets1/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets1/vendor/popper.min.js' %}"></script>
<script src="{% static 'assets1/vendor/bootstrap/bootstrap.min.js' %}"></script>

<script src="{% static 'assets1/vendor/appear.js' %}"></script>
<script src="{% static 'assets1/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static '/assets1/vendor/chosen/chosen.jquery.js' %}"></script>

<script src="{% static 'assets1/js/hs.core.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.header.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.tabs.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.progress-bar.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.not-empty-state.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.masked-input.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.select.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.counter.js' %}"></script>
<script src="{% static 'assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.rating.js' %}"></script>

<script src="{% static 'assets1/js/custom.js' %}"></script>

<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/lib/fancybox/jquery.fancybox.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>
<script src="{% static 'assets/lib/remodal/remodal.js' %}"></script>
    <script type="text/javascript">

           onload=function(){
               var e=document.getElementById("refreshed");
               if(e.value=="no")e.value="yes";
               else{e.value="no";location.reload();}
           }

    </script>
{% block js %}{% endblock %}
{% block js2 %}{% endblock %}
</html>
