{%load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9F0Kzdn6pPA21NpLkUXhgqdLyJ2zLpAcqi4RTPYBqao" />
    <title>{% block title %}{% endblock %}</title>
    {% block favicons %}
    {% include 'core/favicons.html' %}
    {% endblock %}
    <link href="{% static '/assets/lib/loaders.css/loaders.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
{% compress css %}
    <link href="{% static '/assets/lib/remodal/remodal.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/remodal/remodal-default-theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/semantic-ui-accordion/accordion.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/semantic-ui-transition/transition.min.css' %}" rel="stylesheet">
{% endcompress %}
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
</head>
<body class="has-sidemenu overflow-hidden-x">
<input type="hidden" id="refreshed" value="no">
{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}
<main class="main minh-100vh" id="top">
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <!--<section class="bg-dark py-4 text-sans-serif ">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-6 col-xl-5 pr-lg-8 mb-2">-->
                    <!--<h4 class="text-300 mb-4">Ми в соціальних мережах:</h4>-->
                    <!--&lt;!&ndash;<a class="d-inline-block" href="#"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1"><i class="fab fa-facebook-f fa-stack-1x"></i></span></a>&ndash;&gt;-->
                    <!--<a class="d-inline-block" href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1"><i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
                    <!--&lt;!&ndash;<a class="d-inline-block" href="#"><span class="fa-stack text-green border border-300 rounded-circle bg-white fs-1"><i class="fab fa-youtube fa-stack-1x"></i></span></a>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col mt-6 mt-lg-0 font-weight-bold">-->
                    <!--<div class="row">-->
                        <!--<div class="col-6 col-sm-4">-->
                            <!--<h4 class="text-300 mb-4">First Step</h4>-->
                            <!--<ul class="list-unstyled">-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Про сервіс</a>-->
                                <!--</li>-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Контакти</a>-->
                                <!--</li>-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Блог</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col-6 col-sm-4 mt-6 mt-sm-0">-->
                            <!--<h4 class="text-300 mb-4">Допомога</h4>-->
                            <!--<ul class="list-unstyled">-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">FAQ</a>-->
                                <!--</li>-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Оферта</a>-->
                                <!--</li>-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Правила та умови</a>-->
                                <!--</li>-->
                                <!--<li class="py-1">-->
                                    <!--<a class="text-500" href="#">Політика конфіденційності</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
     <section class="text-center" style="padding-top: 6rem; padding-bottom: 6rem; background-color: #F5F5F5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            <!--<a href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1">-->
            <!--<i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
              <a href="https://www.instagram.com/first_step_diet/"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a>
              <a href="#"><span class="fab fa-facebook-f text-black fs-1 mx-2"></span></a>
              <!--<a href="#"><span class="fab fa-pinterest-p text-black fs-1 mx-2"></span></a>-->
              <div class="d-block mt-4 fs--1 font-weight-bold text-sans-serif">
                <a class="mx-2 text-700" href="/help">FAQ</a>
                <a class="mx-2 text-700" href="/conditions">Умови користування</a>
                <a class="mx-2 text-700" href="/private">Політика конфіденційності</a>
                  <a class="mx-2 text-700" href="/contact">Контакти</a>
		<a class="mx-2 text-700" href="/ru">RU</a>
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/visa.png' %}">
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/mastercard.png' %}">
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}

{% block language %}
{% include 'core/language.html' %}
{% endblock %}
{% block extra_js %}{% endblock extra_js %}
{% compress js %}
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.js' %}"></script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/stickyfill.min.js' %}"></script>
<script src="{% static '/assets/lib/remodal/remodal.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-packery/packery-mode.pkgd.min.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static '/assets/lib/lightbox2/js/lightbox.js' %}"></script>
<script src="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>
{% endcompress %}
    <script type="text/javascript">

           onload=function(){
               var e=document.getElementById("refreshed");
               if(e.value=="no")e.value="yes";
               else{e.value="no";location.reload();}
           }

    </script>
</body>
</html>


