{%load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block favicons %}
    {% include 'core/favicons.html' %}
    {% endblock %}
    <link href="{% static '/assets/lib/loaders.css/loaders.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
{% compress css %}   
 <link href="{% static '/assets/lib/remodal/remodal.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/remodal/remodal-default-theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/semantic-ui-accordion/accordion.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/semantic-ui-transition/transition.min.css' %}" rel="stylesheet">
{% endcompress %}
</head>
<body class="has-sidemenu overflow-hidden-x">
<input type="hidden" id="refreshed" value="no">
{% block navbar %}
{% include 'core/navbar_ru.html' %}
{% endblock %}
<main class="main minh-100vh" id="top">
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
            <div class="preloader-line-wrap">
                <div class="preloader-line"></div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <section class="text-center" style="padding-top: 6rem; padding-bottom: 6rem; background-color: #F5F5F5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            <!--<a href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1">-->
            <!--<i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
              <a href="https://www.instagram.com/first_step_diet/"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a>
              <a href="#"><span class="fab fa-facebook-f text-black fs-1 mx-2"></span></a>
              <!--<a href="#"><span class="fab fa-pinterest-p text-black fs-1 mx-2"></span></a>-->
              <div class="d-block mt-4 fs--1 font-weight-bold text-sans-serif">
                <a class="mx-2 text-700" href="/ru/help">FAQ</a>
                <a class="mx-2 text-700" href="/ru/conditions">Условия пользования</a>
                <a class="mx-2 text-700" href="/ru/private">Политика конфиденциальности</a>
                  <a class="mx-2 text-700" href="/ru/contact">Контакты</a>
                <a class="mx-2 text-700" href="/">UA</a>
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/visa.png' %}">
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/mastercard.png' %}">
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}

{% block language %}
{% include 'core/language_ru.html' %}
{% endblock %}
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
{% block extra_js %}{% endblock extra_js %}
{% compress js %}
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/assets/js/popper.min.js' %}"></script>
<script src="{% static '/assets/js/bootstrap.js' %}"></script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/stickyfill.min.js' %}"></script>
<script src="{% static '/assets/lib/remodal/remodal.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/assets/lib/isotope-packery/packery-mode.pkgd.min.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/js/rellax.min.js' %}"></script>
<script src="{% static '/assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static '/assets/lib/lightbox2/js/lightbox.js' %}"></script>
<script src="{% static '/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>
{% endcompress %}
    <script type="text/javascript">

           onload=function(){
               var e=document.getElementById("refreshed");
               if(e.value=="no")e.value="yes";
               else{e.value="no";location.reload();}
           }

    </script>
</body>
</html>


