{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/img/favicons/favicons_180x180.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/img/favicons/favicons_48x48_01.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/img/favicons/favicons_16x16.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/img/favicons/favicon.ico' %}">
<link rel="manifest" href="{% static '/assets/img/favicons/manifest.json' %}">
<meta name="msapplication-TileImage" content="{%static '/assets/img/favicons/favicons_150x150.png' %}">
<meta name="theme-color" content="#ffffff">
