{% load static %}
<footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 order-lg-2">
        <a class="indicator indicator-up" href="#top"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
      </div>
      <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
        <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
          Copyright First Step</p>
      </div>
    </div>
  </div>
</footer>
