{% load static %}
<div class="remodal bg-black remodal-select-language font-weight-bold" data-remodal-id="language">
  <div class="remodal-close" data-remodal-action="close"></div>
  <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
    <li>
      <a class="pt-1 d-block text-white" href="/ru/">Русский</a>
    </li>
    <!--<li>-->
      <!--<a class="pt-1 d-block text-500" href="#">English</a>-->
    <!--</li>-->
    <li>
      <a class="pt-1 d-block text-500" href="/">Українська</a>
    </li>
  </ul>
</div>
