{% load static %}
<body class="has-sidemenu overflow-hidden-x">
<nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
     data-zanim-trigger="scroll" data-exclusive="true">
    <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="/ru">
            <img class="fancynavbar-brand-img" src="{% static '/assets/img/fs.png' %}" alt="" width="60" height="60"/>
        </a>
        <div class="fancynavbar-toggler">
            <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                <path id="path-middle" d="M20,32h30"></path>
                <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
            </svg>
        </div>
        <div class="fancynavbar-addon" >
            <a class="fancynavbar-addon-item" href="#" data-remodal-target="language"><span class="text-sans-serif text-green ls font-weight-black fs-0">RU</span></a>
        </div>
    </div>
    <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav font-weight-bold">
            {% if user.is_authenticated %}
            <li class="fancynav-item">
                {% if user.profile.slug %}
                {% if user.profile.name %}
                <a class="fancynav-link" href="/ru/profile/{{ user.profile.slug }}"><span class="fancynav-link-content text-green">Привет {{ user.profile.name }}</span></a>
                {% else %}
                <a class="fancynav-link" href="/ru/profile/{{ user.profile.slug }}"><span class="fancynav-link-content text-green">Привет {{ user.username }}</span></a>
                {% endif %}
                {% else %}
                <a class="fancynav-link" href="/form"><span class="fancynav-link-content text-green">Привет {{ user.username }}</span></a>
            {% endif %}
            </li>
            <li class="fancynav-item">
                <a class="fancynav-link" href="{% url 'logout_ru' %}?next=/ru"><span class="fancynav-link-content text-green">Выход</span></a>
            </li>
            {% else %}
            <li class="fancynav-item">
                <a class="fancynav-link" href=/ru/login><span class="fancynav-link-content text-green">Вход</span></a>
            </li>
            {% endif %}
            <li class="fancynav-item">
                <a class="fancynav-link" href="/blog/ru"><span class="fancynav-link-content text-green">Блог</span></a>
            </li>
            <li class="fancynav-item">
                <a class="fancynav-link" href="/ru/about"><span class="fancynav-link-content text-green">О проекте</span></a>
            </li>
            <li class="fancynav-item">
                <a class="fancynav-link" href="/ru/help"><span class="fancynav-link-content text-green">Помощь</span></a>
            </li>
            <li class="fancynav-item">
                <a class="fancynav-link" href="/ru/contact"><span class="fancynav-link-content text-green">Контакты</span></a>
            </li>
        </ul>
    </div>
</nav>
