{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _(' 404 Error') }}{% endblock %}
{% block content %}
      <section class="py-0" id="page-about">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 px-0 order-lg-2">
              <div class="sticky-top h-lg-100vh py-9">
                <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/404.jpg' %});">
                </div>
              </div>
            </div>
            <div class="col-lg-6 bg-white py-6">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-10">
                  <div class="mb-5">
                    <div class="overflow-hidden">
                      <h1 class="text-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">404 error</h1>
                      <h2 class="text-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Sorry, but something went wrong</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}

