{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _(' First Step | Про сервіс') }}{% endblock %}
{% block content %}
      <section class="py-0" id="page-about">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 px-0 order-lg-2">
              <div class="sticky-top h-lg-100vh py-9">
                <div class="bg-holder" style="background-image:url({% static '/assets/img/about.jpg' %});">
                </div>
              </div>
            </div>
            <div class="col-lg-6 bg-white py-6">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-10">
                  <div class="mb-5">
                    <div class="overflow-hidden">
                      <h1 class="text-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Про First Step</h1>
                    </div>
                  </div>
                  <p class="dropcap" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">First Step - це сервіс для створення персональної дієти для кожного.
                    Головна ідея якого - підібрати індивідуальний раціон з мінімальними затратами зусиль та часу. Все це досягається за допомогою
                    інноваційного алгоритму, створеного на основі багатолітнього
                  досвіду роботи спеціалістів в сфері дієтології та фітнесу, котрий дозволяє побудувати дієту з урахуванням усіх основних даних користувача. База рецептів, адаптованих професіоналами, дозволяє швидко та зі смаком отримувати якісний результат.
                    Постійне доповнення та вдосконалення алгоритму, дає змогу не втрачати свою актуальність з плином часу та результатами користувача. Адаптування раціону, відштовхуючись від результатів та смаків кожного.
                    Доповнює все це - можливість обговорювати та ділитися враження з своїми друзями, не покидаючи сервіс. Більше того, ви маєте змогу спілкуватися з професіоналами, котрі приклали руку до створення цього продукту напряму.
                    Такі функції як "блог" та "швидке рішення", допоможуть вам поповнити свої знання та отримати швидку відповідь на питання, котрі можуть у вас виникнути.
                  </p>
                  <div class="row mt-5">
                    <div class="col-6">
                      <img class="rounded img-fluid" src="{% static '/assets/img/about2.jpg' %}" alt="" data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    </div>
                    <div class="col-6">
                      <img class="rounded img-fluid" src="{% static '/assets/img/about1.jpg' %}" alt="" data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    </div>
                  </div>
                  <blockquote class="blockquote text-center my-6 border p-5 px-xl-7 border-300 rounded" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                    <p class="blockquote-content">First Step - це крок в здорове майбутнє.</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
