{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _(' First Step | О сервисе') }}{% endblock %}
{% block content %}
      <section class="py-0" id="page-about">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 px-0 order-lg-2">
              <div class="sticky-top h-lg-100vh py-9">
                <div class="bg-holder" style="background-image:url({% static '/assets/img/about.jpg' %});">
                </div>
              </div>
            </div>
            <div class="col-lg-6 bg-white py-6">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-10">
                  <div class="mb-5">
                    <div class="overflow-hidden">
                      <h1 class="text-underline fs-4 fs-md-5 mb-0" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">О First Step</h1>
                    </div>
                  </div>
                  <p class="dropcap" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">First Step - это сервис для создания персональной диеты для каждого.
                    Главная идея которого - подобрать индивидуальный рацион с минимальными затратами усилий и времени. Все это достигается с помощью инновационного метода, созданного на основе многолетнего опыта работы специалистов в области диетологии и фитнеса, который позволяет построить диету с учетом всех основных данных пользователя.
                    База рецептов, адаптированных профессионалами, позволяет быстро и со вкусом получать качественный результат.
                    Постоянное дополнение и совершенствование алгоритма, позволяет не терять свою актуальность с течением времени и результатами пользователя. Адаптация рациона, отталкиваясь от результатов и вкусов каждого.
                    Дополняет все это возможность обсуждать и делиться впечатление со своими друзьями, не покидая сервис. Более того, мы предоставляем возможность общаться с профессионалами, которые приложили руку к созданию этого продукта, напрямую.
                    Такие функции как "блог" и "быстрое решение" помогут вам пополнить свои знания и получить быстрый ответ на вопросы, которые могут в вас возникнуть.
                  </p>
                  <div class="row mt-5">
                    <div class="col-6">
                      <img class="rounded img-fluid" src="{% static '/assets/img/about2.jpg' %}" alt="" data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    </div>
                    <div class="col-6">
                      <img class="rounded img-fluid" src="{% static '/assets/img/about1.jpg' %}" alt="" data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
                    </div>
                  </div>
                  <blockquote class="blockquote text-center my-6 border p-5 px-xl-7 border-300 rounded" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                    <p class="blockquote-content">First Step - это шаг в здоровое будущее.</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}
