{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _(' First Step | Условия пользования') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static 'assets/img/fon/rules.jpg' %});">
  </div>
    <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white text-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Условия пользования</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <section class="py-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 bg-white pb-4 ">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-lg-12" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
              <p>Ці Умови користування та всі інші нормативно-правові документи, на які посилається даний документ (разом “Умови”), формулюють правову угоду між кожним відвідувачем (надалі – “Користувач” або “Ви”) та First Step, стосовно доступу та використання власності останнього в інтернеті, включаючи, без обмеження, www.first-step-diet.com, мікросайти, мобільні веб-сайти, мобільні додатки, профілі First Step у соціальних мережах та будь-які інші цифрові сервіси, що належать та використовуються час від часу First Step (разом надалі за текстом як “Сайт(и)”).</p>
              <p>ВИКОРИСТОВУЮЧИ ЦЕЙ САЙТ(И), ВИ ПІДТВЕРДЖУЄТЕ ТА ЗАЯВЛЯЄТЕ, ЩО ВИ (i) ОЗНАЙОМЛЕНІ З ЦИМИ УМОВАМИ ТА НАШОЮ ПОЛІТИКОЮ КОНФІДЕНЦІЙНОСТІ (ЯКА ЦИМ ДОКУМЕНТОМ ВКЛЮЧЕНА ЗА ДОПОМОГОЮ ПОСИЛАННЯ) (ii) ПРИЙМАЄТЕ ЇХ, (iii) ТА ПОГОДЖУЄТЕСЬ З НИМИ, (iv) МОЖЕТЕ УКЛАДАТИ ЮРИДИЧНО ЗОБОВ’ЯЗУЮЧІ КОНТРАКТИ, ТА (v) ПОГОДЖУЄТЕСЬ ДОТРИМУВАТИСЯ ВСІХ ЗАКОНІВ ТА НОРМ (ВКЛЮЧАЮЧИ БУДЬ-ЯКІ ПРАВИЛА НАШОЇ КОМПАНІЇ), ЩО ЗАСТОСОВУЮТЬСЯ ДО ВАС, ЩОДО ВИКОРИСТАННЯ ЦЬОГО САЙТУ(ІВ), ТА/ЧИ ІНТЕРНЕТУ. ЯКЩО ВИ НЕ ПОГОДЖУЄТЕСЯ З БУДЬ-ЯКОЮ ВИКЛАДЕНОЮ НИЖЧЕ УМОВОЮ, МИ НЕ МАЄМО НАМІР НАДАВАТИ ВАМ ДОСТУП ДО САЙТУ(ІВ).</p>
              <p>Деякі інші сайти, сервіси та інструменти First Step можуть мати додаткові умови, які ми надамо Вам у випадку використання таких сайтів, сервісів чи інструментів.</p>
              <p>A. Право власності</p>
              <p>1. Контент Сайту(ів) включає, без обмеження, (i) торгівельні знаки, знаки обслуговування, логотипи, марки та назви торгівельних марок, торгові назви та інше характерне визначення та всі інші відповідні нематеріальні активи First Step (та/чи однієї чи більше її компаній-філій) (разом “Марки First Step”); (ii) інтерфейси, систему команд, бази даних, продукти, послуги, програми та інструменти, текст, зображення, фотографії, аудіо- та відеоматеріали, включаючи подкасти та ілюстративний матеріал (“Наші технічні рішення”), (iii) будь-які документи, нариси, статті, аналізи, технічні описи, блоги, примітки, розсилки, дошки оголошень, огляди, опитування (включно з їх інформацією (особистою чи іншою), фото, зображення, текст, коментарі, інші елементи та матеріали) в будь-якому засобі зв’язку чи форматі, відомому на даний момент чи розроблену в подальшому, у фізичному, електронному, цифровому, аналоговому чи іншому форматі; та (iv) дизайн, структуру, вибірку, компіляцію, зібрання, координацію, вираження, функціональність, додатки та організацію будь-якого контенту, що міститься в чи є доступним через цей Сайт(и) (пункти, зазначені в підрозділах (i), (ii), (iii) та (iv), надалі іменуються разом як “Контент First Step”). Контент First Step є власністю First Step, її філій, її ліцензіарів, спонсорів, партнерів, рекламодавців, контент-провайдерів чи інших третіх осіб та знаходиться під захистом закону, включаючи, але не обмежуючись законом про авторське право, комерційну таємницю, патенти та торгівельні марки, а також іншими державними, національними та міжнародними законами, угодами, нормами і правилами. Відтворення, передача, розповсюдження, продаж, публікація, поширення, введення в обіг, дисемінація будь-якого Контенту First Step безпосередньо Вами чи Вами опосередковано за допомогою іншої особи чи об’єкта заборонено, окрім випадків отримання прямого письмового дозволу від First Step чи власника такого контенту, якщо First Step не є таким. З питань передруку звертайтесь до First Step. Суворо забороняється будь-яке використання Марок First Step без попередньо отриманого на те прямого письмового дозволу First Step . Вам не дозволяється змінювати, знищувати, приховувати чи замовчувати будь-яке з авторських прав чи інші повідомлення, що з’являються в Контенті First Step, включаючи будь-які такі повідомлення, що з’являються в будь-якому Контенті First Step, який Вам дозволено завантажувати, поширювати, публічно показувати, друкувати чи відтворювати з цього Сайту(ів). У разі, якщо Ви спочатку не отримаєте попередній письмовий дозвіл власника авторських прав, Ви не можете копіювати, розповсюджувати, відтворювати у відкритій формі, демонструвати у відкритій формі, відтворювати у цифровій формі (у разі звукових записів) чи створювати похідні роботи від будь-якого об’єкта, що охороняється авторським правом, який є доступним  на Сайті(ах).</p>
              <p>2. Незважаючи на вищевикладене, First Step не підтверджує жоден контент чи статті будь-яких ліцензіарів чи авторів, чи будь-яку думку, рекомендацію чи пораду, викладену на Сайті(ах) First Step, прямо заперечує будь-яке чи всі зобов’язання, пов’язані з таким контентом. Ви усвідомлюєте, що First Step не  несе відповідальність за точність, користь, безпеку чи права інтелектуальної власності такого чи пов’язаного з ним контенту.</p>
              <p>3. Ваші “Коментарі та пропозиції ” (будь-яка інформація, яку Ви надаєте нам про Сайт(и) у якості коментарів чи оцінки) схвалюються та заохочуються. Однак, Ви погоджуєтеся з тим, що, надаючи добровільні ідеї First Step, Ви автоматично позбавляєте себе будь-якого права на інтелектуальну власність на ці ідеї; та (ii) добровільні ідеї, надані First Step чи будь-якому її співробітникові чи представникові, автоматично стають власністю First Step. Ви погоджуєтеся з тим, що будь-які коментарі та пропозиції , які надаються Вами на цьому Сайті(ах), будуть вважатися такими, що не є конфіденційними. First Step може вільно та необмежено користуватися такою інформацією. Ви погоджуєтесь не вживати жодних заходів, що можуть зашкодити будь-яким Коментарям та пропозиціям. Це включає заборону демонстрування, імпорту, експорту чи використання інформації з Коментарів та пропозицій, що знаходяться на Сайті(ах), незалежно від мети використання.</p>
              <p>B. Ваш доступ до цього Сайту(ів) та Загальні обмеження на його використання</p>
              <p>1. Вам надається персональна, відклична, обмежена, неексклюзивна ліцензія без права на передачу іншій особі доступу та використання цього Сайту(ів), що залежить від Вашого безперервного прийняття та виконання цих Умов. Ви можете використовувати цей Сайт(и) та Контент First Step з особистою некомерційною метою та жодною іншою. First Step зберігає за собою право забороняти, обмежувати чи призупиняти будь-який доступ Користувача до Сайту(ів) та/чи анулювати цю ліцензію в будь-який час з будь-якої причини. First Step зберігає будь-які права, що надаються цими Умовами в непрямій формі.</p>
              <p>2. Права, які Вам надаються цими Умовами, залишаться дійсними лише на той час, доки діятимуть ці Умови. Ви не можете перепродавати чи надавати субліцензію на доступ до цього Сайту(ів) будь-якій третій особі. Ви не можете видозмінювати чи створювати будь-який похідний продукт на основі Сайту(ів).  Ви не можете,  дизасемблювати,  декомпілювати чи намагатися іншим чином отримати чи розрізнити вихідний код, з якого складається чи трактується будь-який компонент цього Сайту(ів), та ніщо в цих Умовах не може бути розтлумачене як таке, що надає Вам будь-яке право отримувати чи використовувати вихідний код. Ви погоджуєтеся з тим, що не будете використовувати цей Сайт(и) з метою: (а) порушення будь-якого місцевого, державного, національного чи міжнародного права; (б) переслідування, домагання чи заподіяння шкоди іншій особі; (в) збору чи зберігання особистих даних про інших користувачів; (г) видавання себе за будь-яку іншу фізичну чи юридичну особу або введення в оману іншим чином щодо справжнього характеру Вашого зв’язку з особою чи об’єктом; або (д) перешкоджання чи руйнування послуг чи серверів, чи мереж, пов’язаних з Сайтом(ами), або невиконання будь-яких вимог, процедур, правил чи норм мереж, пов’язаних з Сайтом(ами). Без отримання від нас письмового дозволу Ви не можете (і) використовувати будь-які повномасштабні, автоматизовані чи електронні засоби для доступу до Сайту(ів) (включаючи, без обмеження, роботів, шпигунів чи скрипти); чи (іі) втручатися та змінювати структуру Сайту(ів), розміщувати діалогові та спливаючи вікна поверх його сторінок, чи іншим чином змінювати зовнішній вигляд його сторінок. Ви обіцяєте, що інформація, яку Ви добровільно надаєте про себе, є правдивою, точною, повною та актуальною.</p>
              <p>C. Пропозиції Третіх Сторін/Оcіб</p>
              <p>Ви можете мати можливість доступу до веб-сайтів, контенту чи сервісів, наданих третіми сторонами за допомогою гіпертекстових посилань, доступних на Сайті(ах), включаючи, але не обмежуючись добровільним розміщенням деякої Вашої інформації з Сайт (ів) на сайтах соціальних мереж та просування нашого Сайту(ів) в соціальних мережах. Крім того, час від часу First Step може надавати Вам посилання до одного чи більше наших бізнес-партнерів, що представляють продукцію чи послуги за допомогою своїх веб-сайтів чи інших засобів (наприклад поштою чи інакше). Ми посилаємося на всі подібні інші веб-сайти, контент, послуги та товари як на “Пропозиції Третіх Сторін”. Наприклад, ми можемо надати дозвіл третім сторонам/особам з відповідними послугами зробити посилання на свою продукцію та послуги на цьому Сайті(ах), та ці посилання можуть переадресовувати Вас на веб-сайт (и) третіх сторін. Якщо нами не проінформовано Вас про інше на цьому Сайті(ах), Ваше використання будь-якої подібної Пропозиції Третьої Сторони не є обов’язковим для доступу та/чи використання цього Сайту(ів). Якщо Ви обираєте використати подібні Пропозиції Третіх Сторін/Осіб та/чи якщо Ви обираєте “клікнути” на посилання чи кнопку, Ви ознайомлені з тим, що (а) Ви залишите наш Сайт(и), та (б) Ваше використання будь-якої подібної Пропозиції Третіх Сторін підлягатиме виконанню будь-яких умов, яких вимагає відповідний провайдер (и) третьої сторони. Ви ознайомлені з тим, що ми не є цими провайдерами та не несемо відповідальності за будь-які подібні Пропозиції Третіх Сторін, та що ці умови не надають Вам жодних прав на доступ, використання, завантаження контенту чи покупки будь-яких Пропозицій Третіх Сторін. Той факт, що ми переадресовуємо на веб-сайт чи послугу третьої сторони, не є підтвердженням чи заявою про наше об’єднання з тією третьою стороною, не є підтвердженням їхнього захисту конфіденційної інформації, умов використання, комерційної практики чи їхнього виконання законів. Ми не здійснюємо контроль над сайтами чи послугами третьої сторони. Ми пропонуємо Вам ознайомитись з правилами захисту конфіденційної інформації та умови використання інших веб-сайтів та послуг, які ви використовуєте, та умови пропозицій, в яких ви берете участь. Ви погоджуєтесь з тим, що First Step не несе відповідальність та не нестиме відповідальності перед Вами чи іншою третьою стороною за Вашу взаємодію з подібними третіми сторонами.</p>
              <p>D. Термін дії та умови припинення</p>
              <p>Ці Умови вступають в силу та стають обов’язковими для виконання, коли Ви користуєтесь Сайтом(ами), коли Ви добровільно надаєте будь-яку інформацію про себе нам, чи коли Ви надаєте свою згоду, виконуючи будь-які вказівки, розміщені нами на Сайті(ах) (такі як кнопки з текстом “Я погоджуюсь”, “Прийняти умови”, “Надати заяву” та інші, що можуть бути розміщені будь-якою мовою). Вам не потрібно інформувати нас про те, що Ви хочете припинити користуватися Сайтом(ами). Ми зберігаємо за собою право припинити ці Умови та Ваш доступ до Сайту(ів) в будь-який час без попередження. Ваші права відповідно до цих Умов припиняються автоматично та неодмінно, якщо Ви не виконуєте свої обіцянки та зобов’язання, зазначені в цих Умовах. Положення розділів А, В(2), останнє речення  D, E, та F залишаються дійсними у випадку припинення дії цих Умов.</p>
              <p>E. Відмова від прав, обмеження та виключення відповідальності</p>
              <p>1. Відсутність гарантій. ЦЕЙ САЙТ(И) ТА ВЕСЬ КОНТЕНТ, ЩО СТОСУЄТЬСЯ ВИЩЕВИКЛАДЕНОГО НАДАЮТЬСЯ “ТАКИМИ, ЯК Є”. У ВСІХ УСТАНОВЛЕНИХ ЗАКОНОМ ВИПАДКАХ FIRST STEP, ЙОГО ПОСТАЧАЛЬНИКИ ТА ФІЛІЇ ЗВІЛЬНЯЮТЬ СЕБЕ ВІД ВСІХ ГАРАНТІЙНИХ ОБОВ’ЯЗКІВ, ГАРАНТІЇ, ПЕРЕДБАЧЕНОЇ ЗАКОНОМ, ПРЯМОЇ ЧИ ТІЄЇ, ЩО ПРИПУСКАЄТЬСЯ, ВКЛЮЧАЮЧИ, АЛЕ НЕ ОБМЕЖУЮЧИСЬ БУДЬ-ЯКИМИ ГАРАНТІЯМИ ТОВАРНОЇ ЯКОСТІ, ПРИДАТНОСТІ ДЛЯ ОСОБЛИВОЇ МЕТИ, АБО ОСОБЛИВОЇ НАЗВИ, ГАРАНТІЯМИ НЕПОРУШЕННЯ, НЕВТРУЧАННЯ, СИСТЕМНОЇ ІНТЕГРАЦІЇ ЧИ ТОЧНОСТІ ІНФОРМАЦІЇ. ЗГІДНО З ВІДПОВІДНИМ ЗАКОНОМ, ВИКЛЮЧЕННЯ ПЕВНИХ ЗАСТОСОВАНИХ ГАРАНТІЙ МОЖЕ БУТИ НЕДОЗВОЛЕНИМ, ТОМУ ВИЩЕНАВЕДЕНЕ ВИКЛЮЧЕННЯ МОЖЕ НЕ ЗАСТОСОВУВАТИСЯ ДО ВАС. FIRST STEP ТА ЙОГО ФІЛІЇ НЕ ГАРАНТУЮТЬ ВАМ ВИКОРИСТАННЯ САЙТУ(ІВ) БЕЗ ПЕРЕБОЇВ, ПОМИЛОК ЧИ НАЯВНОСТІ НА НЬОМУ ВІРУСІВ. НАДАННЯ БУДЬ-ЯКОЇ ОСОБИСТОЇ ІНФОРМАЦІЇ ТА ЗАВАНТАЖЕННЯ БУДЬ-ЯКОГО КОНТЕНТУ ЧЕРЕЗ САЙТ(И) FIRST STEP ВИКОНУЄТЬСЯ ВАМИ НА ВАШ ВЛАСНИЙ РОЗСУД ТА РИЗИК. ВИ ПОВНІСТЮ НЕСТИМЕТЕ ВІДПОВІДАЛЬНІСТЬ ЗА БУДЬ-ЯКУ ШКОДУ, ЗАПОДІЯНУ ВАШІЙ КОМП’ЮТЕРНІЙ СИСТЕМІ, ЧИ ЗА ВТРАТУ ІНФОРМАЦІЇ, ЩО МОЖЕ БУТИ ВИКЛИКАНА ЗАВАНТАЖЕННЯМ БУДЬ-ЯКОГО ПОДІБНОГО КОНТЕНТУ, ТОМУ МИ РАДИМО ВАМ ЗБЕРІГАТИ РЕЗЕРВНІ КОПІЇ В РЕЖИМІ ОФФЛАЙН ВСЬОГО КОНТЕНТУ. FIRST STEP НЕ Є ПРОВАЙДЕРОМ ТА НЕ НАДАЄ ЖОДНИХ ГАРАНТІЙ СТОСОВНО БУДЬ-ЯКИХ ПРОПОЗИЦІЙ ТРЕТІХ СТОРІН. FIRST STEP НЕ ГАРАНТУЄ БЕЗПЕКУ БУДЬ-ЯКОЇ ІНФОРМАЦІЇ, ЩО ПЕРЕДАЄТЬСЯ НА ЧИ З ЦЬОГО САЙТУ(ІВ). НЕ ІСНУЄ ЖОДНИХ ЗАЯВ ТА НЕ НАДАЄТЬСЯ ЖОДНА ГАРАНТІЯ СТОСОВНО ТОГО, ЩО САЙТ(И) НАДАЄ ВИЧЕРПНУ ЧИ ТОЧНУ ІНФОРМАЦІЮ. МИ ЗБЕРІГАЄМО ЗА СОБОЮ ПРАВО ФІЛЬТРУВАТИ, ЗМІНЮВАТИ ЧИ ЗНИЩУВАТИ КОНТЕНТ, МЕДІА, ІНФОРМАЦІЮ ЧИ БУДЬ-ЯКИЙ МАТЕРІАЛ ІЗ САЙТУ(ІВ).</p>
              <p>2. Обмеження відповідальності. ВИ ВИКОРИСТОВУЄТУ САЙТ(И) FIRST STEP ТА ЙОГО КОНТЕНТ  НА ВЛАСНИЙ РИЗИК. У ЖОДНОМУ РАЗІ GLOBALLOGIC ЧИ  ЙОГО ПОСТАЧАЛЬНИКИ АБО ФІЛІЇ НЕ НЕСТИМУТЬ ВІДПОВІДАЛЬНОСТІ ЗА БУДЬ-ЯКІ ПРЯМІ, ВИПАДКОВІ, НЕПРЯМІ, ШТРАФНІ ЧИ ОСОБИСТІ ЗБИТКИ, ПОВ’ЯЗАНІ З ЦИМИ УМОВАМИ, НЕЗВАЖАЮЧИ НА ТЕ, ЩО МОЖНА БУЛО ПЕРЕДБАЧИТИ ПОДІБНІ ЗБИТКИ, ТА НАВІТЬ ЯКЩО FIRST STEP ДАВАВ ПОРАДИ ПРО ТЕ, ЩО МОЖУТЬ ТРАПИТИСЯ ПОДІБНІ ЗБИТКИ. ВИ ПІДТВЕРДЖУЄТЕ, ЩО ЦЕ ОБМЕЖЕННЯ ВІДПОВІДАЛЬНОСТІ Є ВАЖЛИВОЮ УМОВОЮ МІЖ ВАМИ ТА FIRST STEP, ЩОДО КОРИСТУВАННЯ САЙТУ(ІВ) ТА БУДЬ-ЯКОГО КОНТЕНТУ, ТА FIRST STEP НЕ НАДАВАТИМЕ ДОСТУП ДО САЙТУ(ІВ) ВАМ БЕЗ ЦЬОГО ОБМЕЖЕННЯ. ВИ ПОГОДЖУЄТЕСЯ З ТИМ, ЩО МИ НЕ НЕСТИМЕМО ВІДПОВІДАЛЬНОСТІ ПЕРЕД ВАМИ ЧИ БУДЬ-ЯКОЮ ІНШОЮ СТОРОНОЮ ЗА БУДЬ-ЯКЕ ПРИПИНЕННЯ ВАШОГО ДОСТУПУ ДО САЙТУ(ІВ) ЧИ ВИДАЛЕННЯ КОНТЕНТУ ЧИ В БУДЬ-ЯКИХ ІНШИХ ВИПАДКАХ.</p>
              <p>3. Відшкодування.  У межах, допустимих чинним законодавством, Ви погоджуєтесь захищати, відшкодовувати та не допускати спричинення для First Step, його філій, співробітникам, директорам, працівникам та агентам будь-яких та всіх скарг, збитків, ушкоджень, втрат, зобов’язань, вартості чи боргу та витрат (включаючи, але не обмежуючись, винагороду адвоката), що виникають в результаті: (i) Вашого використання та доступу до Сайту(ів); (ii) Вашого невиконання будь-якого пункту з цих Умов; чи (iii) Вашого порушення будь-якого права третьої сторони, включаючи, але без обмеження, будь-яке авторське право, право власності чи конфіденційності інформації. Цей обов’язок захисту та відшкодування залишається дійсним після закінчення терміну дії цих Умов та Вашого використання цього Сайту(ів).</p>
              <p>F. Інші питання</p>
              <p>1. Конфіденційність. Протягом Вашого доступу та/чи користування цим Сайтом(ами) ми можемо отримувати інформацію про Вас. Всі випадки використання Вашої особистої інформації будуть здійснюватися згідно з Політикою Конфіденційності, що становлять невід’ємну частину цих Умов. Якщо Ви користуєтесь цим Сайтом(ами), то Ви приймаєте умови Політики Конфіденційності, до якої час від часу можуть вноситися зміни. Якщо Ви не погоджуєтесь з тим, що Ваша інформація буде використана будь-яким чином, описаним у Політиці Конфіденційності, Вам необхідно припинити користуватися цим Сайтом(ами).</p>
              <p>2. Передача. Ці Умови та будь-які права та ліцензії, які надаються цим документом, не можуть бути передані чи переуступлені Вами, але можуть бути передані First Step без обмеження.</p>
              <p>3. Зміна Умов. Час від часу ми можемо змінювати ці Умови. Будь-які подібні зміни вступають у силу з моменту їх розміщення/публікації на Сайті(ах). Якщо Ви заперечуєте будь-які подібні зміни, Вашим повним правом буде припинити користуватися цим Сайтом(ами). Продовження використання цього Сайту(ів) після розміщення будь-яких подібних змін означатиме підтвердження Вами таких змін та Вашу згоду виконувати переглянуті Умови, в тому числі такі зміни.</p>
              <p>4. Зміни в користуванні. Ми зберігаємо за собою право змінювати цей Сайт(и) в будь-який час без попередження. Якщо Ви заперечуєте будь-які подібні зміни, Вашим повним правом буде припинення їх використання. Продовження використання цього Сайту(ів) після розміщення будь-яких подібних змін означатиме Ваше підтвердження таких змін та задоволення Сайтом(ами) у зміненому вигляді. Ми також зберігаємо за собою право припинити роботу цього Сайту(ів) в будь-який час без попередження. Ми не несемо відповідальності перед Вами чи іншою третьою стороною в разі нашого внесення змін чи припинення роботи цього Сайту(ів).</p>
              <p>5. Загальні умови. Ви погоджуєтесь виконувати всі закони, правила та норми, що стосуються Вашого користування цим Сайтом(ами). Якщо Ви знаходилися поза межами України та вирішили надати інформацію First Step, Ви підтверджуєте та погоджуєтеся з тим, що інформацію може бути оброблено та передано в Україну. Надання Вами інформації означає Вашу згоду з цим. Ці Умови, разом з Політикою Конфіденційності, та будь-які інші правові положення, опубліковані First Step на цьому Сайті(ах), замінюють повну згоду між Вами та First Step стосовно Сайту(ів). Відмова від застосування будь-якого з положень даних Умов користування не повинна розглядатися як постійна/триваюча відмова від такої умови на майбутнє. Якщо будь-яке положення цих Умов буде визначене судом належної юрисдикції недійсним, Ви погоджуєтесь з тим, що суд має докласти зусиль задля того, щоб привести в дію наміри, викладені в недійсному положенні, та інші положення цих Умов залишаються повністю чинними.</p>
              <p>6. Контактна інформація. Якщо Ви маєте будь-які питання чи занепокоєння стосовно цих Умов чи Сайту(ів), будь ласка, відвідайте нашу сторінку з контактними даними. Будь ласка, повідомте нам про будь-яку проблему, образливий контент, невиконання політики та/чи неправильне використання за адресою firststepdiet@gmail.com.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
      </section>
</section>
{% endblock %}

