{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Контакты') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static 'assets/img/fon/contact.jpg' %});">
  </div>
    <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col">-->
        <!--<div class="overflow-hidden">-->
          <!--<h1 class="text-white text-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Контакты</h1>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 bg-white pb-4 ">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-9" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
            <h3 class="text-black" style="font-family: Roboto; text-align: center;">Мы всегда готовы прислушаться к вам и с удовольствием пойти вам на встречу. Связаться с нами можно следующими способами:</h3><br>
            <p class="font-weight-bold fs-xl-1" style="margin-bottom: 0px; font-family: Roboto; text-align: center;">E-mail:<span class="ml-2 font-weight-normal font-italic"><a class="text-700" href="mailto:firststepdiet@gmail.com">firststepdiet@gmail.com</a></span></p>
            <p class="font-weight-bold mb-4 fs-xl-1" style="font-family: Roboto; text-align: center;">Instagram:<span class="ml-2 font-weight-normal font-italic"><a class="text-700" target="_blank" href="https://www.instagram.com/first_step_diet/">first_step_diet</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

