 {% load static %}
          <a href="/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профиль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between active">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Диета</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзья</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепты</span>
          </a>
            <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Быстрое решение</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
          </a>