{% extends 'core/base_profile_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Поиск Друзей') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/friends_search.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Поиск Друзей</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row" id="friends">
      <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/ru/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профиль</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/diet" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Диета</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/friends" class="list-group-item justify-content-between active">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзья</span>
            <span class="u-label g-font-size-11 g-bg-white g-color-main g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/ru/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепты</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Быстрое решение</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="container">
        <form class="g-width-60x--md mx-auto" method="post">
          {% csrf_token %}
          <div class="form-group g-mb-20">
            <div class="input-group u-shadow-v21 rounded g-mb-15">
              <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" required name="name" maxlength="100" id="id_name" placeholder="Поиск друзей">
              <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                  <i class="icon-magnifier g-pos-rel g-top-1"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
        <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
          <h3 class="h6 mb-0">
            <i class="icon-people g-pos-rel text-white g-top-1 g-mr-5"></i>
            <a class="text-white">Поиск друзей</a>
          </h3>
        </div>
        <div class="card-block g-pa-0">
          <div class="row">
            {% for friend in friends %}
          <div class="col-md-4">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.file %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{{ friend.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Image Description"></a>
                {% endif %}
                {% if friend.name %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.name }}</font></h4></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.user.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/ru/dialogs/{{ friend.user.username }}">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
                <li class="col g-brd-right">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" data-remodal-target="{{ friend.id }}" href="#!" title="Добавить в друзья">
                      <i class="icon-people"></i>
                    </a>
                  </li>
              </ul>
            </figure>
          </div>
            <div class="remodal" data-remodal-id="{{ friend.id }}">
              <button class="remodal-close" id="{{ friend.id }}Close" data-remodal-action="close"></button>
              <h4>Добавить {{ friend.user.username }} в друзья?</h4>
              <br>
              <form method="post" id="{{ friend.id }}Add">
                {% csrf_token %}
                <input type="text" name="name" value="add" maxlength="100" id="id_name" style="display: none;">
                <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                  <option value="{{friend.id}}" selected=""></option>
                </select>
                <br>
                <button class="btn btn-sm btn-success mr-3" type="submit">Добавить</button>
                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Отменить</button>
              </form>
            </div>
          {% endfor %}
          </div>
          <div class="row g-mb-40">
            <div style="margin: auto">
              {% if find.has_other_pages %}
              <ul class="pagination">
                {% if find.has_previous %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ find.previous_page_number }}">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% endif %}
                {% for i in find.paginator.page_range %}
                {% if find.number == i %}
                <li class="list-inline-item g-hidden-sm-down text-white">
                  <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14">{{ i }}</a>
                </li>
                {% else %}
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="?page1={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if find.has_next %}
                <li class="list-inline-item float-sm-right">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ find.next_page_number }}">
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-right disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    {% for friend in friends %}
        $(document).ready(function() {
            $('#{{ friend.id }}Add').ajaxForm(function() {
                document.getElementById("{{ friend.id }}Close").click();
                alert("Запрос отправлен");
            });
        });
    {% endfor %}
    </script>

{% endblock %}
