{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Помощь') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/help.jpg' %});"></div>
<!--<div class="container">-->
  <!--<div class="row align-items-center">-->
    <!--<div class="col">-->
      <!--<div class="overflow-hidden">-->
        <!--<h1 class="text-white text-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">FAQ</h1>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row">
          <h4 class="mt-4 ">Часто задаваемые вопросы</h4>
          <div class="col-12">
            <div class="ui styled fluid accordion mt-4" data-options="{exclusive:false}">

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как работает алгоритм построения диеты?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">После регистрации на сервисе, вы должны будете заполнить форму с данными для обработки ее алгоритмом.
                После чего, система учтет все данные и создаст оптимальные для вас количество калорий / белков / жиров / углеводов / воды - для достижения поставленной цели.
                  На основе этих расчетов будет подобрано набор рецептов, которые и будут составлять ваш рацион. После прохождения календарной недели, вам будет предоставляться возможность обновить свои данные для адаптации диеты к вашему результату и особенностей организма.
                </p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как обновить данные?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Обновить свои данные вы сможете по окончании календарной недели, после вашего последнего обновления.</p>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/1_ru.png' %}" alt="">
                </a>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/2_ru.png' %}" alt="">
                </a>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Почему показывает только рецепты для завтрака?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Доступ к полному дню и всем уникальным рецептам доступен только после приобретения подписки. Оформить подписку вы можете в разделе Настройки-> Подписка</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как добавить блюдо в дневной рацион?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Для добавления блюда в рацион, необходимо нажать кнопку <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/plus.png' %}">,
                 после чего заполнить небольшую форму.</p>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/3_ru.png' %}" alt="">
                </a>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Я случайно добавил(а) блюдо в дневной рацион, как его удалить?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Для удаления из дневного рациона случайно добавленного блюда нажмите <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/minus.png' %}"></p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как сохранить рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Чтобы сохранить рецепт, сначала необходимо добавить его в дневной рацион, после чего нажать кнопку <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/save.png' %}"></p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как восстановить удаленный рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Если вы передумали, или удалили рецепт случайно, перейдите в раздел Настройки-> Удаленные рецепты для восстановления.</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как оформить подписку?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Оформить подписку можно в разделе Настройки-> Подписки</p>
              </div>


              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как отменить подписку?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Отменить подписку можно в разделе Настройки-> Подписки</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как добавить собственный рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">На данный момент возможность добавления собственного уникального рецепта отсутствует, однако она находится в разработке и будет доступна в ближайшее время.</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Как защититься от мошенников?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Если вам написала подозрительная личность от имени команды First Step, или администрации, вы можете легко проверить ее правдивость.
                Нажав на аватар личности, написавшей вам, вы окажетесь на ее странице. Под именем каждого пользователя находится его статус. На сервисе существуют четыре статуса:</p>
                <p class="transition hidden" style="color:#626262; font-size: 25px;">Гость</p>
                <p class="transition hidden" style="color:#caa430; font-size: 25px;">VIP</p>
                <p class="transition hidden" style="color:#7416ca; font-size: 25px;">First Step команда</p>
                <p class="transition hidden" style="color:#72c02c; font-size: 25px;">Администрация</p>
                <p class="transition hidden">Благодаря им, вы сможете точно определить, кто к вам обращается.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
