{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('First Step | Допомога') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/help.jpg' %});"></div>
<!--<div class="container">-->
  <!--<div class="row align-items-center">-->
    <!--<div class="col">-->
      <!--<div class="overflow-hidden">-->
        <!--<h1 class="text-white text-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">FAQ</h1>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</section>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row">
          <h4 class="mt-4 ">Питання, котрі задають найчастіше</h4>
          <div class="col-12">
            <div class="ui styled fluid accordion mt-4" data-options="{exclusive:false}">

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як працює алгоритм побудування дієти?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Після регістрації на сервісі, ви повинні будете заповнити форму з данними для обробки її алгоритмом.
                Після чого, система врахує всі дані та створить оптимальну для вас кількість калорій/білків/жирів/вуглеводів/води, для досягнення поставленої мети.
                  На основі цих розрахунків, буде підібрано набір рецептів, котрі і будуть складати ваш раціон. Після проходження колендарного тижня, вам надаватиметься змога оновити свої дані
                  для адаптації дієти до вашого результату та особливостей організму.
                </p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як оновити дані?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Оновити свої дані ви зможете по закінченні календарного тижня, після вашого останнього оновлення.</p>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/1.png' %}" alt="">
                </a>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/2.png' %}" alt="">
                </a>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Чому показує тільки рецепти для сніданку?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Доступ до повного дня та всіх унікальних рецептів, доступний тільки після придбання підписки. Оформити підписку ви зможете в розділі
                Налаштування->Підписка</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як добавити страву в денний раціон?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Для добавлення страви в раціон, необхідно натиснути кнопку <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/plus.png' %}">,
                 після чого заповнити невелику форму.</p>
                <a>
                  <img class="w-100 h-100" src="{% static '/assets/img/help/3.png' %}" alt="">
                </a>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Я випадково добавив(ла) страву в денний раціон, як її видалити?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Для видалення з денного раціону випадково добавленої страви натисніть <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/minus.png' %}"></p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як зберегти рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Щоб зберегти рецепт, спочатку необхідно добавити його в денний раціон, після чого натиснути кнопку <img style="width: 16px; height: 16px"  src="{% static 'assets/img/icons/save.png' %}"></p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як відновити видалений рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Якщо ви передумали, або видалили рецепт випадково, перейдіть в розділ Налаштування->Видалені рецепти, для відновлення.</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як оформити підписку?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Оформити підписку ви можете в розділі Налаштування->Підписки</p>
              </div>


              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як відмінити підписку?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Відмінити підписку ви можете в розділі Налаштування->Підписки</p>
              </div>

              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як добавити власний рецепт?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">На данний момент можливість добавлення власного унікального рецепту відсутня, проте вона знаходиться в розробці і буде доступна найблищим часом.</p>
              </div>


              <div class="title">
                <i class="dropdown icon"></i>
                <h5 class="d-inline-block fs-0">Як захиститись від шахраїв?</h5>
              </div>
              <div class="content">
                <p class="transition hidden">Якщо вам написала підозріла особа від імені команди First Step, або адміністрації, ви можете легко перевірити її правдивість.
                Натиснувши на піктограму особи, котра вам написала, ви опинетеся на її сторінці. Під іменем кожного користувача знаходиться його статус. На сервісі існують чотири статуси:</p>
                <p class="transition hidden" style="color:#626262; font-size: 25px;">Гість</p>
                <p class="transition hidden" style="color:#caa430; font-size: 25px;">VIP</p>
                <p class="transition hidden" style="color:#7416ca; font-size: 25px;">First Step команда</p>
                <p class="transition hidden" style="color:#72c02c; font-size: 25px;">Адміністрація</p>
                <p class="transition hidden">Завдяки ним, ви зможете точно оприділити, хто до вас звертається.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
