{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('First Step') }}{% endblock %}
{% block content %}
<section class="py-0 overflow-hidden bg-white" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
  <div class="container-fluid">
    <div class="devices-wrapper">
      <div class="macbook-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" data-rellax-speed="3" src="{% static '/assets/img/index/macbook-1.jpg' %}" alt="">
      </div>
      <div class="ipad--l-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="3.8" src="{% static '/assets/img/index/ipad-2.png' %}" alt="">
      </div>
      <div class="iphone-1" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="4.8" src="{% static '/assets/img/index/iphone-1.png' %}" alt="">
      </div>
      <div class="ipad--l-2" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="3.4" src="{% static '/assets/img/index/ipad-1.png' %}" alt="">
      </div>
      <div class="iphone-2" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="4" src="{% static '/assets/img/index/iphone-2.png' %}" alt="">
      </div>
      <div class="macbook-2" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="5" src="{% static '/assets/img/index/macbook-2.jpg' %}" alt="">
      </div>
      <div class="ipad--l-3" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="3.7" src="{% static '/assets/img/index/ipad-3.png' %}" alt="">
      </div>
      <div class="ipad--p-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="4.8" src="{% static '/assets/img/index/ipad-4.png' %}" alt="">
      </div>
      <div class="iphone-3" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="3" src="{% static '/assets/img/index/iphone-3.png' %}" alt="">
      </div>
      <div class="iphone-4" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="3" src="{% static '/assets/img/index/iphone-4.png' %}" alt="">
      </div>
      <div class="iphone--l-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
        <img class="device parallax" style="max-width: 100%;" data-rellax-speed="2" src="{% static '/assets/img/index/iphone-5.png' %}" alt="">
      </div>
    </div>
    <div class="row py-8 minh-100vh align-items-center">
      <div class="col-md-auto px-md-4 pl-md-8">
        <h1 class="display-4 fs-2 fs-sm-4 fs-md-5"><span class="overflow-hidden d-inline-block"><span class="d-inline-block font-weight-bold" data-zanim-xs='{"delay":1}'>Зроби свій <br><span class="text-serif text-green font-italic font-weight-normal">Перший крок</span></span>
        </span>
          <br><span class="overflow-hidden d-inline-block pb-2"><span class="d-inline-block font-weight-bold" data-zanim-xs='{"delay":1.1}'>Просто зараз!</span></span>
        </h1>
        <div class="overflow-hidden">
          <p class="mt-3 mt-sm-4 text-sans-serif lead" data-zanim-xs='{"delay":1.2}'>Інновації вже сьогодні!</p>
        </div>
        <div class="mt-3 mt-sm-5">
          <a class="btn btn-success btn-sm mr-2 my-2" href="/about" data-offset="60" data-zanim-xs='{"delay":1.3}'>Про сервіс</a>
          <a class="btn btn-outline-success btn-sm my-2" href="/login" data-zanim-xs='{"delay":1.3}'>Почати &xrarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 mb-2 mb-lg-5 text-center">
      <h2 class="fs-3 fs-sm-4"><span class="text-underline text-green">Чому First Step?</span></h2>
    </div>
  </div>
</div>




<section class="text-center pt-4 pb-0">
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-md-6">
        <div class="position-relative overflow-hidden rounded">
          <div class="bg-holder" style="background-image: url('{% static "assets/img/index/1.jpg" %}');">
        </div>
        <div class="position-relative py-8 py-md-11">
          <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="overflow-hidden">
              <h2 class="fs-2 fs-sm-3 text-white stroke_javood" data-zanim-xs='{"delay":0.1}'>Інновації</h2>
            </div>
            <div data-zanim-xs='{"delay":0.2}'>
              <a class="btn btn-dark mt-4 text-green" href="/about">Детальніше</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4 mt-md-0">
      <div class="position-relative overflow-hidden rounded">
        <div class="bg-holder" style="background-image:url('{% static "assets/img/index/2.jpg" %}');"></div>

      <div class="position-relative py-8 py-md-11">
        <div data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
          <div class="overflow-hidden">
            <h2 class="fs-2 fs-sm-3 text-white stroke_javood" data-zanim-xs='{"delay":0.1}'>Повна автономія</h2>
          </div>
          <div data-zanim-xs='{"delay":0.2}'>
            <a class="btn btn-dark mt-4 text-green" href="/about">Детальніше</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <section class="text-center pt-3 pb-0">
   <div class="container-fluid">
     <div class="row m-0">
       <div class="col-md-4">
         <div class="position-relative overflow-hidden rounded">
           <div class="bg-holder" style="background-image: url('{% static "assets/img/index/3.jpg" %}');">
         </div>
         <div class="position-relative py-8 py-md-11">
           <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
             <div class="overflow-hidden">
               <h2 class="fs-2 fs-sm-3 text-white stroke_javood" data-zanim-xs='{"delay":0.1}'>Простота</h2>
             </div>
             <div data-zanim-xs='{"delay":0.2}'>
               <a class="btn btn-dark mt-4 text-green" href="/about">Детальніше</a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-4 mt-4 mt-md-0">
       <div class="position-relative overflow-hidden rounded">
         <div class="bg-holder" style="background-image:url('{% static "assets/img/index/4.jpg" %}');">
       </div>
       <div class="position-relative py-8 py-md-11">
         <div data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
           <div class="overflow-hidden">
             <h2 class="fs-2 fs-sm-3 text-white stroke_javood" data-zanim-xs='{"delay":0.1}'>Вдосконалення</h2>
           </div>
           <div data-zanim-xs='{"delay":0.2}'>
             <a class="btn btn-dark mt-4 text-green" href="/about">Детальніше</a>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-4 mt-4 mt-md-0">
     <div class="position-relative overflow-hidden rounded">
       <div class="bg-holder" style="background-image:url('{% static "assets/img/index/5.jpg" %}');">
     </div>
     <div class="position-relative py-8 py-md-11">
       <div data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
         <div class="overflow-hidden">
           <h2 class="fs-2 fs-sm-3 text-white stroke_javood" data-zanim-xs='{"delay":0.1}'>Підтримка</h2>
         </div>
         <div data-zanim-xs='{"delay":0.2}'>
           <a class="btn btn-dark mt-4 text-green" href="/about">Детальніше</a>
         </div>
       </div>
     </div>
   </div>
 </section>



<br><br>
<section class="text-center py-8 py-md-11 overflow-hidden" id="default-video">
  <div class="bg-holder parallax" style="background-image: url('{% static "assets/img/about.jpg" %}');" data-rellax-percentage="0.5">
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">
        <a class="video-modal text-white" href="https://www.youtube.com/watch?v=bzfyZ4PsWl0" data-start="1" data-end="154">
          <svg class="mx-auto d-block" width="100" height="100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier","trigger":"scroll"}'>
            <defs>
              <style>
                .play-path {
                  fill: none;
                  stroke: #ffffff;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-width: 12px;
                }
              </style>
            </defs>
            <g>
              <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
<!--<section class="text-white text-center has-parallax" id="header-video">-->
	<!--<div class="bg-holder overlay overlay-2 parallax h-50vh" style="background-image:url({% static 'assets/img/fon/help.jpg' %});" data-rellax-speed="-10">-->
		<!--<video autoplay="autoplay" loop="loop" muted="muted">-->
			<!--<source src="{% static 'assets/videos/shoes.mp4' %}" type="video/mp4"/>-->
		<!--</video>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h5>Video Background Parallax</h5>-->
	<!--</div>-->
<!--</section>-->

<!--<section class="text-white text-center" id="header-video">-->
	<!--<div class="bg-holder overlay" style="background-image:url({% static 'assets/img/fon/help.jpg' %});">-->
		<!--<video autoplay="autoplay" loop="loop" muted="muted">-->
			<!--<source src="{% static 'assets/video/shoes.mp4' %}" type="video/mp4"/>-->
		<!--</video>-->
	<!--</div>-->
	<!--<div>-->
		<!--<h5>Video Background</h5>-->
	<!--</div>-->
<!--</section>-->

<section id="default-services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-5 mb-md-7 text-center">
        <h2 class="fs-3 fs-sm-4"><span class="text-underline text-green">Послуги</span></h2>
      </div>
      <div class="col-lg-5 pr-lg-4 mb-4">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Індивідуальна дієта</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>За декілька простих кроків ми побудуємо дієту спеціально для вас.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-lg-4 mb-4">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static '/assets/img/icons/meal.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Унікальні рецепти</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Рецепти, адаптовані професіоналами для тих, хто піклується про своє здоров'я.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-lg-4 mb-4">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static '/assets/img/icons/quick.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Швидке рішення</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Функції для тих людей, котрі рідко знаходять час на себе.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-lg-4 mb-4">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static '/assets/img/icons/progress.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Прогрес</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Відслідковуйте зміни свого організму не тільки в дзеркалі.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-lg-4 mb-4 mb-lg-0">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static '/assets/img/icons/chat.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Комунікація</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Діліться своїми думками з близькими у реальному часі.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 pr-lg-4">
        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="oveflow-hidden">
            <img class="media-img mr-3 mr-sm-4" src="{% static '/assets/img/icons/learn.png' %}" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
          </div>
          <div class="media-body">
            <div class="overflow-hidden">
              <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Навчання</h4>
            </div>
            <div class="overflow-hidden">
              <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Отримуйте актуальну інформацію від професіоналів.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="default-pricing-plan">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-7 text-center">
        <a href="/login">
        <h2 class="fs-3 fs-sm-4 text-underline mb-3 text-green">Розпочати</h2>
          </a>
      </div>
    </div>
  </div>
</section>
<!--<section id="default-services" style="padding-bottom: 0;">-->
  <!--<div class="container">-->
    <!--<div class="row justify-content-center">-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Слідкуєш за здоров'ям?</h4>-->
           <!-- </div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Але набридло рахувати кожну лишню калорію?</h4>-->
            <!--</div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Унікальні рецепти</h4>-->
           <!-- </div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Індивідуальний підхід</h4>-->
           <!-- </div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Ми порахуємо все для вас і за вас.</h4>-->
            <!--</div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
     <!-- <div class="col-lg-5 pr-lg-4 mb-4 mb-lg-0">-->
       <!-- <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">-->
         <!-- <div class="media-body">-->
           <!-- <div class="overflow-hidden">-->
             <!-- <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>Вам залишиться лише підібрати страву.</h4>-->
           <!-- </div>-->
         <!-- </div>-->
       <!-- </div>-->
     <!-- </div>-->
   <!-- </div>-->
 <!-- </div>-->
<!--</section>-->
<!--<section id="default-pricing-plan" style="padding-top: 0;">-->
 <!-- <div class="container">-->
   <!-- <div class="row justify-content-center">-->
      <!--<div class="col-lg-6 mb-7 text-center">-->
       <!-- <a href="/profile/javood/diet/">-->
       <!-- <h2 class="fs-3 fs-sm-4 text-underline mb-3 text-green">Підібрати</h2>-->
         <!-- </a>-->
     <!-- </div>-->
   <!-- </div>-->
 <!-- </div>-->
<!--</section>-->
{% endblock %}
