{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First Step</title>
    {% block favicons %}
    {% include 'core/favicons.html' %}
    {% endblock %}
    <!-- CSS -->
<style>
body, html {
    height: 100%;
    margin: 0;
}
.bg {
    /* The image used */
    background-image: url('{% static "assets/img/fon/form.jpg" %}');;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'assets/form-css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/form-css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/form-css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'assets/form-css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/vendor/slick-carousel/slick/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets1/css/unify-globals.css' %}">

</head>

<body>
<div class="bg">
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-md-offset-2  form-box">
                    <form role="form" action="" method="post" class="f1 shadow">
                        {% csrf_token %}
                        <h3>Данные для диеты</h3>
                        <p>Заполните форму для правильной работы программы</p>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="7" data-number-of-steps="7" style="width: 16%;"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/sex.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/age.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/height.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/weight.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/target.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/lifestyle.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/bodytype.png' %}" height="22" width="22">
                                </div>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon">
                                    <img  src="{% static 'assets/img/icons/bonus.png' %}" height="22" width="22">
                                </div>
                            </div>
                        </div>
                        <label for="id_name_slug" style="display: none;">Name Slug:</label>
                        <input type="text" name="name_slug" maxlength="150" id="id_name_slug" style="display: none;" value="{{ user.username }}">
                        <fieldset>
                            <h4>Выберите пол:</h4>
                            <label for="id_sex" style="display: none;">Sex:</label>
                            <select name="sex" required="" id="id_sex" style="width: 100%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for i in sex %}
                                <option value="{{ i.id }}">{{ i.name_ru }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Введите ваш возраст:</h4>
                            <label for="id_age" style="display: none;"></label>
                            <input type="number" class="f1-first-name form-control" required="" name="age" id="id_age">
                            <br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Введите ваш рост(см):</h4>
                            <label for="id_growth" style="display: none;"></label>
                            <input type="number" class="f1-first-name form-control" required="" name="growth" id="id_growth">
                            <br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Введите ваш вес:</h4>
                            <label for="id_weight" style="display: none;"></label>
                            <input type="number" class="f1-first-name form-control" required="" name="weight" step="any" id="id_weight">
                            <br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Виберите цель</h4>
                            <label for="id_target" style="display: none;">Target:</label>
                            <select name="target" required="" id="id_target" class="g-color-black g-bg-green" style="width: 100%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for i in target %}
                                <option value="{{ i.id }}">{{ i.name_ru }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Выберите образ жизни</h4>
                            <label for="id_life_style" style="display: none;">Life Style:</label>
                            <select name="life_style" required="" id="id_life_style" style="width: 100%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for i in style %}
                                <option value="{{ i.id }}">{{ i.name_ru }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Виберите тип тела</h4>
                            <label for="id_body_type" style="display: none;">Body Type:</label>
                            <select name="body_type" required="" id="id_body_type" style="width: 100%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for i in type %}
                                <option value="{{ i.id }}">{{ i.name_ru }}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <label class="required"  for="id_user" style="display: none;">User:</label>
                        <select name="user" style="display: none;" required="" id="id_user">
                            <option value="{{ user.id }}" selected="">{{ user.username }}</option>
                        </select>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="button" class="btn btn-next">Далее</button>
                            </div>
                        </fieldset>
                        <fieldset>
                            <h4>Для получения скидки введите промокод(если нет, введите 1)</h4>
                            <label for="id_bonus" style="display: none;"></label>
                            <input type="text" class="f1-first-name form-control" name="bonus" maxlength="20" id="id_bonus">
                            <br>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Предыдущая</button>
                                <button type="submit" value="save" class="btn btn-submit">Подтвердить</button>
                            </div>
                        </fieldset>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
<script src="{% static '/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js-form/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'assets/js-form/retina-1.1.0.min.js' %}"></script>
<script src="{% static 'assets/js-form/scripts.js' %}"></script>
<!--[if lt IE 10]>
<script src="{% static 'assets/js-form/placeholder.js' %}"></script>
<![endif]-->
<script src="{% static 'assets1/js/components/hs.select.js' %}"></script>

 <!--JS Plugins Init.-->
<script >
  $(document).ready(function () {
    // initialization of custom select
    $.HSCore.components.HSSelect.init('.js-custom-select');
  });
</script>
</body>
</html>
