{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _(' First Step | Політика конфіденційності') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static 'assets/img/fon/private.jpg' %});">
  </div>
    <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white text-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Політика конфіденційності</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <section class="py-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 bg-white pb-4 ">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-lg-12" data-zanim-lg='{"animation":"slide-left","delay":0.6}' data-zanim-trigger="scroll">
              <p>Ця Політика конфіденційності є невід’ємною частиною угоди між вами та нами щодо використання веб-сайту. Ця Політика пояснює хто ми є, з якою метою і яким чином ми обробляємо особисті дані, які права ви надаючи нам будь-яку інформацію про себе, і як зв’язатися з нами в разі необхідності.</p>
              <p>Ми зберігаємо за собою право вносити зміни до Політики конфіденційності в будь-який час та з будь-якої причини.</p>
              <h5>Хто ми?</h5>
              <p>Ми команда First Step. Наші контактні дані наведені в кінці цієї Політики. Ми є контролером даних, які обробляємо відповідно до цієї Політики (за винятком випадків, де зазначено інше).</p>
              <h5>Чиї особисті дані ми обробляємо?</h5>
              <p>Ми можемо обробляти ваші особисті дані, якщо:</p>
              <ul>
                <li>Ви користуєтесь нашими послугами або продуктами, які ми розробили.</li>
                <li>Ви є клієнтом (або ви працюєте на клієнта), якому ми хочемо розповісти про наші послуги або запропонувати їх.</li>
                <li>Ви наш працівник, підрядник або зацікавлені у співпраці з нами.</li>
              </ul>
              <h5>Чиї особисті дані ми не збираємо – діти</h5>
              <p>Ми навмисне не вимагаємо онлайн-дані від дітей до 13 років, а також не пропонуємо їм послуги. Ми навмисне не збираємо особисті дані дітей до 13 років. Якщо ми дізнаємося, що дитина віком до 13 років надала нам особисту інформацію без батьківської згоди, ми вживаємо заходів для видалення такої інформації.</p>
              <h5>Які особисті дані ми обробляємо?</h5>
              <p>Ми можемо обробляти ваші особисті дані, отримані безпосередньо від вас або з будь-якого іншого джерела. Такі дані можуть включати:</p>
              <ul>
                <li>Ваше ім’я.</li>
                <li>Інформацію про те, на кого ви працюєте, відділ і ваші посадові обов’язки.</li>
                <li>Вашу адресу, номер телефону, електронну адресу або інші контактні дані (ваші особисті або робочі дані, залежно від характеру наших відносин з вами або з особою, на яку ви працюєте).</li>
                <li>Особисту інформацію, отриману у процесі спілкування з вами по телефону, електронній пошті, через наш веб-сайт, соціальні мережі або іншим способом. Така інформація також включає дані, які ми отримуємо або ви надаєте нам під час користування веб-сайтом: реєструючись для отримання наших новин, надаючи нам товари чи послуги, цікавлячись нашими послугами, беручи участь у конкурсі, рекламі або опитуванні, заповненні форм, зв’язуючись із нами, щоб повідомити про проблему, чи виконуючи наведені вище дії від імені особи, на яку ви працюєте.</li>
                <li>Інформацію, що стосується операцій за нашої та вашої участі або участі особи, на яку ви працюєте (наприклад, подробиці про продукти, які ми розробили, або послуги, які ми надали вам або отримали від вас чи особи, на яку ви працюєте).</li>
                <li>Інші ваші особисті дані, які необхідні нам для обробки з метою укладання або виконання договору з вами чи особою, на яку ви працюєте (наприклад, право на обробку робочої інформації та інформації отриманої від агентств з перевірки кредитної історії, якщо це необхідно для здійснення відповідних перевірок за договорами з вами чи з іншою особою, на яку ви працюєте, або якимось чином пов’язані).</li>
                <li>Інформацію про події, на які запрошені ви або особи пов’язані з вами, а також вашу особисту інформацію та уподобання у випадку, якщо такі дані необхідні для організації та управління цими подіями (наприклад, ваші побажання з приводу частувань).</li>
                <li>Вашу особисту інформацію, яку ви надаєте нам, або яку ми отримуємо будь-яким чином під час ваших візитів (наприклад, якщо ви заповняєте форму для роботи алгоритмів чи інші види форм або опитувань, розташованих на сайті).</li>
                <li>Особисту інформацію, яку ви надаєте нам під час користування веб-сайтом, зокрема:</li>
                <li>технічну інформацію, включаючи адресу інтернет-протоколу (IP), що використовується для під’єднання комп’ютера до Інтернету, вашу реєстраційну інформацію, тип та версію браузера, часовий пояс, типи та версії плагіна браузера, операційну систему та платформу;</li>
                <li>інформацію про ваш візит, включаючи повні унікальні локатори ресурсів (URL), історію відвідувань та переміщень нашим веб-сайтом, історію переходу з нашого веб-сайту (включаючи дату та час), послуги, які ви переглядали чи шукали, час відгуку сторінки, помилки під час завантаження, тривалість перебування на певних сторінках, інформація про активність на сторінці (наприклад, прокручування, кліки та наведення курсора миші), способи переходу зі сторінки, а також номер телефону чи іконку соціальної мережі, яку ви використали для зв’язку з нами.</li>
                <li>Історію особистих діалогів, зокрема всі діалоги як з іншими користувачами продукту, так і з адміністрацією сайту.</li>
              </ul>
              <h5>Що ми робимо з вашими особистими даними?</h5>
              <p>Ми обробляємо ваші особисті дані для наступних цілей:</p>
              <ul>
                <li>Роботи спеціалізованих алгоритнім необхідних для надання вам послуг, зазначених на сайті, а саме: алгоритм підрахунку калорій та особистої потребності в них кожного користувача, підбір рецептів для кожного користувача враховуючи його вподобання, аналіз активності користувача для рекомендації йому послух, котрі найбільше підходять йому.</li>
                <li>Укладання та виконання договору з вами чи особою, на яку ви працюєте, щоб:</li>
                <ul>
                  <li>надавати послуги клієнтам або іншим користувачам цих послуг;</li>
                  <li>керувати нашими відносинами з клієнтами, постачальниками та іншими користувачами наших послуг. Де ви або особа, на яку ви працюєте, може бути клієнтом, користувачем або постачальником товарів чи послуг для вказаних вище цілей.</li>
                </ul>
                <li>Реклами й продажу, а також надання інформації про наші послуги.</li>
                <li>Адміністрування нашого веб-сайту відповідно до умов договору та для здійснення внутрішніх операцій, включаючи виправлення недоліків, аналіз даних, тестування, дослідження, збирання статистики та соцопитувань.</li>
                <li>Покращення нашого веб-сайту, щоб забезпечити представлення контенту у найбільш ефективний для вас і для вашого комп’ютера спосіб.</li>
                <li>Гарантування безпеки перебування на нашому веб-сайті та інших систем.</li>
                <li>Оцінювання і розуміння ефективності реклами, яку ми демонструємо вам та іншим, а також для розміщення актуальної реклами.</li>
                <li>Надання порад і рекомендацій щодо послуг, які можуть зацікавити вас або особу, на яку ви працюєте, які б відповідали вашим уподобанням, де це потрібно.</li>
              </ul>
              <h5>Кому ми розкриваємо ваші особисті дані?</h5>
              <p>Ми можемо ділитися вашими особистими даними з:</p>
              <ul>
                <li>Будь-якими членами нашого об’єднання, до якого входять наші дочірні компанії та їхні дочірні компанії.</li>
                <li>Окремими третіми сторонами, включаючи:</li>
                <ul>
                  <li>наших бізнес-партнерів, клієнтів, постачальників та субпідрядників для виконання будь-якого договору, який ми укладаємо, або інших угод, що виникають зазвичай в ході роботи з вами чи особою, на яку ви працюєте;</li>
                  <li>наших аудиторів, юридичних радників та інших професійних консультантів або постачальників послуг;</li>
                </ul>
              </ul>
              <p>Ми можемо ділитися даними отриманими через наш веб-сайт із:</p>
              <ul>
                <li>нашими рекламодавцями та рекламними мережами, яким потрібні дані, щоб вибрати та розмістити актуальні для вас та інших користувачів оголошення. Ми не розкриваємо нашим рекламодавцям особисті дані, що можуть ідентифікувати вас, але ми надаємо їм сукупну інформацію про наших користувачів. Також ми можемо використовувати таку сукупну інформацію, щоб допомагати рекламодавцям демонструвати рекламу своїй цільовій аудиторії. Ми можемо використовувати ваші особисті дані, щоб демонструвати рекламу наших рекламодавців їхній цільовій аудиторії, дотримуючись положень пункту про використання файлів cookie цієї Політики;</li>
                <li>провайдерами аналітики й пошукових систем, які допомагають нам вдосконалювати та оптимізувати наш веб-сайт у відповідності з положеннями пункту про використання файлів cookie цієї Політики.</li>
              </ul>
              <h5>Інші випадки розкриття даних</h5>
              <p>Ми можемо розкривати ваші особисті дані третім особам:</p>
              <ul>
                <li>У випадку, якщо ми продаємо або купуємо будь-який бізнес чи активи. У цьому випадку ми можемо розкривати ваші особисті дані потенційному продавцеві чи покупцеві такого бізнесу або активів дотримуючись умов цієї Політики конфіденційності.</li>
                <li>Якщо ми або всі наші активи будуть придбані сторонніми особами, особисті дані, які вони отримають про своїх клієнтів, будуть одним із переданих активів.</li>
                <li>Якщо ми будемо зобов’язані розкрити або поділитися вашими особистими даними з метою виконання будь-яких юридичних зобов’язань або для виконання чи дотримання умов договору, умов постачання послуг та інших угод укладених із вами; або для захисту прав, майна, а також безпеки First Step, наших клієнтів, працівників чи інших користувачів. Це включає обмін інформацією з іншими компаніями та організаціями (в тому числі правоохоронними органами) з метою захисту від шахрайства та інших ризиків.</li>
              </ul>
              <h5>Які є юридичні підстави для обробки ваших особистих даних?</h5>
              <p>При обробці ваших особистих даних ми спираємось на наступне:</p>
              <ul>
                <li>Вашу попередню згоду на відповідну обробку, що стосується окремих випадків (наприклад, застосування прямого маркетингу). При цьому ми отримуємо та покладаємось на вашу згоду щодо відповідної обробки.</li>
              </ul>
              <p>При відсутності згоди ми будемо обробляти ваші особисті дані лише в тих випадках, коли це необхідно:</p>
              <ul>
                <li>для виконання договору, в якому ви є учасником, або для здійснення кроків за вашим запитом необхідних для укладання такого договору;</li>
                <li>для дотримання юридичних зобов’язань, які ми на себе взяли; або в законних інтересах, що переслідуються нами чи іншою особою, лише за обставин, коли ці законні інтереси не суперечать вашим інтересами або основним правам та свободам, які вимагають захисту особистих даних (більшість обставин, коли ми обробляємо ваші особисті дані відповідно до характеру відносин, які ми маємо з тією людиною, на яку ви працюєте, потраплять до цієї категорії).</li>
              </ul>
              <h5>Як довго ми обробляємо особисті дані?</h5>
              <p>Ми обробляємо особисті дані лише стільки, скільки це необхідно для цілі (цілей), для яких вони були зібрані спочатку, після чого дані будуть видалені чи перенесені в архів, крім випадків, коли необхідно продовжувати обробку для дотримання нами юридичних зобов’язань, які ми на себе взяли, або для інших правомірних і законних цілей.</p>
              <p>Якщо ми отримуємо особисті дані під час надання послуг, ми будемо вживати всіх необхідних заходів, щоб гарантувати виконання всіх відповідних заходів безпеки, які на них поширюються, а також, що вони надійно захищені у відповідності до цієї Політики конфіденційності.
Ми дотримуємося загальноприйнятих галузевих стандартів для захисту особистої інформації наданої нам, як під час передачі даних, так і після отримання. Усі оброблені особисті дані зберігаються на захищених серверах. Будь-які платіжні транзакції зашифровуються за допомогою відповідної технології. Якщо ми надали вам (або ви встановили) пароль, який дає вам доступ до певних частин нашого веб-сайту чи систем, ви несете відповідальність за збереження конфіденційності цього пароля. Ми просимо вас не ділитися цим паролем ні з ким.
На жаль, передача інформації через Інтернет не є повністю безпечною. Хоча ми зробимо все можливе для захисту ваших особистих даних, ми не можемо гарантувати безпеку даних, переданих на наш веб-сайт, тому будь-яка передача відбувається на ваш страх і ризик. Як тільки ми отримаємо вашу інформацію, ми зможемо застосувати строгі процедури та засоби безпеки для запобігання несанкціонованому доступу.
Ви повинні знати, що інші Інтернет-сайти, куди ведуть посилання з нашого веб-сайту (веб-сайтів) або з електронних листів First Step, можуть мати іншу політику конфіденційності, що відрізняється від цієї Політики конфіденційності. Щоб забезпечити захист вашої конфіденційності, радимо вам ознайомитися із положеннями конфіденційності цих веб-сайтів, додатків або інших цифрових ресурсів.</p>
              <h5>Які ваші права?</h5>
              <p>При наданні нам особистих даних для обробки у вас є наступні права:</p>
              <ul>
                <li>Ви можете вимагати доступ до відповідних особистих даних.</li>
                <li>Ви можете вимагати виправлення будь-яких невірних особистих даних про вас.</li>
                <li>За певних обставин (наприклад, коли зникає необхідність обробляти окремі особисті дані надані вами) ви маєте право вимагати видалення відповідних особистих даних.</li>
                <li>Якщо ми обробляємо ваші особисті дані на підставі вашої попередньої згоди на цю обробку, ви можете відкликати вашу згоду на обробку даних, після чого обробка даних припиниться.</li>
                <li>Якщо у вас є скарга щодо будь-якої обробки ваших особистих даних, ви можете зв’язатися з нами.</li>
              </ul>
              <h5>Як відкликати вашу згоду на обробку особистих даних</h5>
              <p>Ви можете відкликати вашу згоду на будь-яку обробку особистих даних:</p>
              <ul>
                <li>Надіславши нам електронного листа за адресою firststepdiet@gmail.com</li>
              </ul>
              <h5>Як скористатися своїм правом доступу до ваших особистих даних</h5>
              <p>Ви можете скористатися своїм правом доступу до ваших особистих даних наступним чином:</p>
              <ul>
                <li>Надіславши нам електронного листа за адресою firststepdiet@gmail.com</li>
              </ul>
              <p>Зверніть увагу, що перш ніж надати інформацію згідно з вашим запитом, ми можемо попросити вас повідомити додаткові дані для підтвердження вашої особи.</p>
              <h5>Наші контакти – зв’яжіться з нами</h5>
              <p>Наші повні контактні дані: firststepdiet@gmail.com</p>
              <h5>Зміни до цієї Політики</h5>
              <p>Будь-які зміни, які ми внесемо в нашу Політику конфіденційності в майбутньому, будуть опубліковані на цій сторінці та, в разі необхідності, надіслані вам електронною поштою. Будь ласка, частіше заходьте на сторінку Політики, щоб не пропустити оновлення та зміни в нашій Політиці конфіденційності.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
      </section>
</section>
{% endblock %}

