{% extends 'core/base_profile.html' %}
{% load static %}

{% block title %}{{ _('First Step | Друзі') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/friends.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Друзі</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="g-mb-100">
  <div class="container">
    <div class="row" id="friends">
      <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item justify-content-between active">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-white g-color-main g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
          <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="container">
        <form class="g-width-60x--md mx-auto" method="post">
          {% csrf_token %}
          <div class="form-group g-mb-20">
            <div class="input-group u-shadow-v21 rounded g-mb-15">
              <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" required name="name" maxlength="100" id="id_name" placeholder="Пошук друзів">
              <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                  <i class="icon-magnifier g-pos-rel g-top-1"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
        <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
          <h3 class="h6 mb-0">
            <i class="icon-people g-pos-rel text-white g-top-1 g-mr-5"></i>
            <a class="text-white">Запити в друзі</a>
          </h3>
        </div>
        <div class="card-block g-pa-0">
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
            {% for friend in friends_request %}
              <div class="item">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.profile.file %}
                <a href="/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" style="display: inline" src="{{ friend.profile.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" style="display: inline" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Image Description"></a>
                {% endif %}
                {% if friend.profile.name %}
                <a href="/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.profile.name }}</font></h4></a>
                {% else %}
                <a href="/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" data-remodal-target="{{ friend.id }}" href="#!" title="Додати в друзі">
                      <i><img  src="{% static 'assets/img/icons/okay.png' %}"></i>
                    </a>
                  </li>
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/dialogs/{{ friend.username }}">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ friend.profile.slug }}" href="#!" title="Видалити запит">
                    <i><img  src="{% static 'assets/img/icons/false.png' %}" style="width: 21px;" height="21" width="21"></i>
                  </a>
                </li>
              </ul>
            </figure>
            <div class="remodal" data-remodal-id="{{ friend.id }}">
              <button class="remodal-close" id="{{ friend.id }}AddClose" data-remodal-action="close"></button>
              <h4>Додати {{ friend.username }} в друзі?</h4>
              <br>
              <form method="post" id="{{ friend.id }}Add">
                {% csrf_token %}
                <input type="text" name="name" value="add" maxlength="100" id="id_name" style="display: none;">
                <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                  <option value="{{friend.id}}" selected=""></option>
                </select>
                <br>
                <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
              </form>
            </div>
            <div class="remodal" data-remodal-id="{{ friend.profile.slug }}">
              <button class="remodal-close" id="{{ friend.id }}DeleteClose" data-remodal-action="close"></button>
              <h4>Видалити запит {{ friend.username }} на дружбу?</h4>
              <br>
              <form method="post" id="{{ friend.id }}Delete">
                {% csrf_token %}
                <select name="friend_request" required="" style="display: none;" id="id_friend_request" multiple="">
                  <option value="{{friend.id}}" selected=""></option>
                </select>
                <br>
                <button class="btn btn-sm btn-success mr-3" type="submit">Видалити</button>
                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
              </form>
            </div>
              </div>
          {% endfor %}
          </div>
        </div>
         <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
           <h3 class="h6 mb-0">
             <i class="icon-people text-white g-pos-rel g-top-1 g-mr-5"></i>
             <a class="text-white">Друзі</a>
           </h3>
         </div>
        <div class="row g-mb-40">
          {% for friend in friends %}
          <div class="col-md-4">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.profile.file %}
                <a href="/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{{ friend.profile.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% static 'assets/img/icons/avatar.jpg' %}" alt="Image Description"></a>
                {% endif %}
                {% if friend.profile.name %}
                <a href="/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.profile.name }}</font></h4></a>
                {% else %}
                <a href="/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/dialogs/{{ friend.username }}">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ friend.profile.name_slug }}" href="#!" title="Видалити з друзів">
                    <i><img  src="{% static 'assets/img/icons/false.png' %}" height="21" width="21"></i>
                  </a>
                </li>
              </ul>
            </figure>
          </div>
          <div class="remodal" data-remodal-id="{{ friend.profile.name_slug }}">
              <button class="remodal-close" id="{{ friend.id }}RemoveClose" data-remodal-action="close"></button>
              <h4>Видалити {{ friend.username }} з друзів?</h4>
              <br>
              <form method="post" id="{{ friend.id }}Remove">
                {% csrf_token %}
                <input type="text" name="name" value="delete" maxlength="100" id="id_name" style="display: none;">
                <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                  <option value="{{friend.id}}" selected=""></option>
                </select>
                <br>
                <button class="btn btn-sm btn-success mr-3" type="submit">Видалити</button>
                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
              </form>
            </div>
          {% endfor %}
        </div>
          <div class="row g-mb-40">
            <div style="margin: auto">
              {% if friends.has_other_pages %}
              <ul class="pagination">
                <span class="step-links">
                {% if friends.has_previous %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page2={{ friends.previous_page_number }}">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Попередня
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" >
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Попередня
                    </span>
                  </a>
                </li>
                {% endif %}
                {% for i in friends.paginator.page_range %}
                {% if friends.number == i %}
                <li class="list-inline-item g-hidden-sm-down text-white">
                  <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14">{{ i }}</a>
                </li>
                {% else %}
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="?page2={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if friends.has_next %}
                <li class="list-inline-item float-sm-right">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page2={{ friends.next_page_number }}" >
                    <span aria-hidden="true">
                      Наступна <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-right disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      Наступна <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
                  </span>
              </ul>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    {% for friend in friends_request %}
        $(document).ready(function() {
            $('#{{ friend.id }}Add').ajaxForm(function() {
                document.getElementById("{{ friend.id }}AddClose").click();
                document.getElementById("ajax-text-me").click();
            });
        });
        $(document).ready(function() {
            $('#{{ friend.id }}Delete').ajaxForm(function() {
                document.getElementById("{{ friend.id }}DeleteClose").click();
                document.getElementById("ajax-text-me").click();
            });
        });
    {% endfor %}

    {% for friend in friends %}
        $(document).ready(function() {
            $('#{{ friend.id }}Remove').ajaxForm(function() {
                document.getElementById("{{ friend.id }}RemoveClose").click();
                document.getElementById("ajax-text-me").click();
            });
        });
    {% endfor %}
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/profile/{{ profile.slug }}/friends/',
                data: "profile_slug={{profile.slug}}",
                success: function(data) {
                    $('.remodal-wrapper').remove();
                    $('.remodal-overlay').remove();
                    $("#friends").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#friends").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>
{% endblock %}
