{% extends 'core/base_profile.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
    {% if category.image %}
      <div class="bg-holder" style="background-image:url({{ category.image.url }});"></div>
    {% else %}
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/cookbook.jpg' %});"></div>
      {% endif %}

  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ category.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
            {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between list-group-item-action">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item active justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
            <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>
        <div class="col-lg-9" id="category">
            <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <a class="text-white">{{ category.description }}</a>
                </h3>
            </div>
                <div class="row">
                {% for recipe in recipes %}
                    <div class="col-lg-4">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            {% if recipe.image %}
                            <a href="/recipe/{{ recipe.slug }}"><img class="card-img-top" src="{{ recipe.image.url }}" alt="Card image cap"></a>
                            {% else %}
                            <a href="/recipe/{{ recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <h6 class="card-title">{{ recipe.description }}</h6>
                            </div>
                            <hr class="g-brd-gray-light-v4 g-my-0">
                            <ul class="row list-inline g-py-20 g-ma-0">
                                <li class="col g-brd-right g-brd-gray-light-v4">
                                    <div style="text-align: center">
                                        <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                            <img style="width: 100%" src="{% static 'assets/img/icons/plus.png' %}"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="col">
                                    <div style="text-align: center">
                                        <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ recipe.name }}" href="#!" title="Не показувати більше цей рецепт">
                                            <i><img  style="width: 100%" src="{% static 'assets/img/icons/false.png' %}"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="remodal" data-remodal-id="{{ recipe.id }}">
                            <button class="remodal-close" id="{{ recipe.id }}AddClose" data-remodal-action="close"></button>
                            <h4>Додати в денний раціон: {{ recipe.name }}</h4>
                            <br>
                            <h5>Кількість порцій:</h5>
                            <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                            <h6>1 порція: {{ recipe.portion }} {{ recipe.portion_data.name }}, {{recipe.calories}} калорій.</h6>
                            <br>
                            <form method="post" id="{{ recipe.id }}Add">
                                {% csrf_token %}
                                <label for="id_user" style="display: none;">User:</label>
                                <select name="user" required="" id="id_user" style="display: none;">
                                    <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                                </select>
                                <h5>Прийом їжі:</h5>
                                <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                                <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                    <option value="" selected="">---------</option>
                                    {% for meal in meals %}
                                    <option value="{{ meal.id }}">{{ meal.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id_recipe" style="display: none;">Recipes:</label>
                                <select name="recipe" id="id_recipe" style="display: none;">
                                    <option value="{{ recipe.id }}" selected="">---------</option>
                                </select>
                                <br><br><h5>Кількість порцій:</h5>
                                <label for="id_portion_number" style="display: none;">Portion Number:</label>
                                <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                    <option value="" selected="">---------</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <br><br><br>
                                <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                            </form>
                        </div>
                        <div class="remodal" data-remodal-id="{{ recipe.name }}">
                            <button class="remodal-close" id="{{ recipe.id }}DeleteClose" data-remodal-action="close"></button>
                            <h4>Не показувати більше: {{ recipe.name }}?</h4>
                            <form method="post" id="{{ recipe.id }}Delete">
                                {% csrf_token %}
                                <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                                <option value="{{ recipe.id }}" selected=""></option>
                            </select>
                                <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                                <option value="2" selected="">mad</option>
                            </select>
                                <br><br>
                                <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    {% for recipe in recipes %}
        $(document).ready(function() {
            $('#{{ recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
        $(document).ready(function() {
            $('#{{ recipe.id }}Delete').ajaxForm(function() {
                document.getElementById("{{ recipe.id }}DeleteClose").click();
                document.getElementById("ajax-text-me").click();
            });
        });
    {% endfor %}
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/profile/{{ profile.slug }}/recipes/{{ category.slug }}/',
                data: "profile_slug={{profile.slug}},category_slug={{ category.slug }};",
                success: function(data) {
                    $('.remodal-wrapper').remove();
                    $('.remodal-overlay').remove();
                    $("#category").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#category").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>
{% endblock %}
