{% load static %}
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>First Step | Налаштування</title>
  {% block favicons %}
  {% include 'core/favicons.html' %}
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets1/vendor/bootstrap/bootstrap.min.css' %}">
  <!--<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">-->
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-line/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-etlinefont/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-line-pro/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static '/assets1/vendor/chosen/chosen.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/vendor/hamburgers/hamburgers.min.css' %}">
  <link  rel="stylesheet" href="{% static '/assets1/vendor/slick-carousel/slick/slick.css' %}">
  <link  rel="stylesheet" href="{% static '/assets1/vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
  <link href="{% static '/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/badge.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'assets1/css/unify-core.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/css/unify-components.css' %}">
  <link rel="stylesheet" href="{% static 'assets1/css/unify-globals.css' %}">

  <link rel="stylesheet" href="{% static 'assets1/css/custom.css' %}">

  <link href="{% static '/assets/lib/remodal/remodal.css' %}" rel="stylesheet">
  <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet">
  <link href="{% static 'assets/lib/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/lib/semantic-ui-accordion/accordion.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/lib/semantic-ui-transition/transition.min.css' %}" rel="stylesheet">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'assets/css/cropper.min.css' %}" rel="stylesheet">

</head>
{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}
<main class="main minh-100vh" id="top">
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/setting.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-shadow text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Налаштування</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/profile/{{ profile.slug }}/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
          <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item justify-content-between active">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="fancy-tab">
          <ul class="nav nav-justified u-nav-v1-1 u-nav-primary g-brd-bottom--md g-brd-bottom-2 g-brd-primary g-mb-20 nav-bar u-shadow-v2">
            <li class="nav-bar-item active nav-item">
              <a class="nav-link g-py-10" href="#nav">Загальні</a>
            </li>
            <li class="nav-bar-item nav-item">
              <a class="nav-link g-py-10"  href="#nav">Фото</a>
            </li>
            <li class="nav-bar-item nav-item">
              <a class="nav-link g-py-10" href="#nav">Видалені рецепти</a>
            </li>
            <li class="nav-bar-item nav-item">
              <a class="nav-link g-py-10" href="#nav">Підписка</a>
            </li>
          </ul>
          <div class ="tab-contents">
            <div class="tab-content active">
              <h3 class="g-font-weight-300">Налаштовуйте свої персональні дані</h3>
              <p>Для кращої роботи алгоритму, раз в тиждень рекомендується оновлювати дані</p>
              <h4 class="g-font-weight-300">Зміна паролю:</h4>
              <a class="btn btn-block  u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" style="width: 30%" href="/accounts/password_change">Змінити пароль</a>
              <br>
              <h4 class="g-font-weight-300">Зміна особистих даних:</h4>
              <br>
              <form method="post">
              {% csrf_token %}
              <div class="row mb-4">
                <div class="col">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Статус:</strong>
                  <input type="text" name="status" maxlength="100" id="id_status">
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Facebook посилання:</strong>
                  <input type="url" name="facebook" maxlength="200" id="id_facebook">
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Instagram посилання:</strong>
                  <input type="url" name="instagram" maxlength="200" id="id_instagram">
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Країна:</strong>
                  <input type="text" name="country" maxlength="100" id="id_country">
                </div>
              </div>

              <div class="row mb-4">
                <div class="col">
                  <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Місто:</strong>
                  <input type="text" name="city" maxlength="100" id="id_city">
                </div>
              </div>
                <div class="text-sm-right">
                  <div class="col-auto">
                    <input class="btn u-btn-primary rounded-0 g-py-12 g-px-25" type="submit" name="submit" value="Зберегти зміни">
                  </div>
                </div>
            </form>
              <br>
              <h4 class="g-font-weight-300">Зміна даних для дієти:</h4>
              {% if profile.change_time %}
              <form method="post">
                {% csrf_token %}
                <ul class="list-unstyled g-mb-30">
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Виберіть стиль життя:</strong>
                      <select name="life_style" class="g-color-black g-bg-green" required="" id="id_life_style">
                        <option value="{{ profile.life_style_id }}" selected="">{{ profile.life_style }}</option>
                        {% for style in styles %}
                        <option value="{{ style.id }}">{{ style.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </li>
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Виберіть ціль:</strong>
                      <select name="target" id="id_target" required="" class="g-color-black g-bg-green">
                        <option value="{{ profile.target_id }}" selected="">{{ profile.target.name }}</option>
                        {% for target in targets %}
                        <option value="{{ target.id }}">{{ target.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </li>
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <div class="g-pr-10">
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 required g-pr-10">Введіть оновлену вагу:</strong>
                      <input type="number" required="" name="weight" step="any" id="id_weight">
                    </div>
                  </li>
                </ul>
                <div class="text-sm-right">
                  <div class="col-auto">
                    <input class="btn u-btn-primary rounded-0 g-py-12 g-px-25" type="submit" name="submit" value="Зберегти зміни">
                  </div>
                </div>
              </form>
              {% else %}
              <p>Зміна даних доступна один раз в тиждень і появиться одразу після проходження цього терміну</p>
              {% endif %}
            </div>
            <div class="tab-content">
              <h2 class="h4 g-font-weight-300">Фото</h2>
              <p class="g-mb-25">Виберіть файл, для зміни вашого аватару.</p>
              <form method="post" enctype="multipart/form-data" id="formUpload">
              {% csrf_token %}
                <div class="form-group mt-4">
                  <input class="zinput-file" id="id_file" type="file" name="file" accept="image/*" data-multiple-caption="{count} files selected" multiple="">
                  <label class="btn btn-outline-success btn-sm" for="id_file">
                    <span>Виберіть файл</span></label>
                  <input type="hidden" name="x" id="id_x">
                  <input type="hidden" name="y" id="id_y">
                  <input type="hidden" name="width" id="id_width">
                  <input type="hidden" name="height" id="id_height">
                </div>
              </form>
            </div>
            <div class="tab-content">
              <h2 class="h4 g-font-weight-300">Видалені рецепти</h2>
              <p class="g-mb-25">Якщо ви видалили рецепт випадково, або передумали, то можете в любий зручний для вас час повернути його назад</p>
              <h4 class="g-font-weight-300">Рецепти:</h4>
              <ul class="list-unstyled g-mb-30">
                {% for recipe in recipes %}
                  <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                    <form method="post">
                      {% csrf_token %}
                    <div class="g-pr-10">
                      <label for="id_delete_recipes" style="display: none;"></label>
                      <select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                        <option value="{{ recipe.id }}" selected=""></option>
                      </select>
                      <label for="id_delete_recipe" style="display: none;">Delete recipe:</label>
                            <select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                      <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">{{ recipe.name }}</strong>
                      <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Відновити</button>
                    </div>
                      </form>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="tab-content">
              {% if status == 1 %}
              <h2 class="h4 g-font-weight-300">Для відкриття усіх функцій сервісу необхідно придбати підписку</h2>
              <p class="g-mb-25">Ціна місячної підписки становить 8${% if bonus %}, ваша унікальна знижка за промокодом становить {{ discount }}${% endif %}</p>
              {% if bonus %}
              {% else %}
              <p class="g-mb-25">Щоб отримати унікальну знижку, введіть промокод:</p>
              <form method="post">
                  {% csrf_token %}
                  <div class="row mb-4">
                      <div class="col">
                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-100">Промокод:</strong>
                          <input type="text" name="bonus" maxlength="20" id="id_bonus">
                      </div>
                  </div>
                <div class="text-sm-left">
                    <input class="btn u-btn-primary rounded-0" type="submit" name="submit" value="Активувати промокод">
                </div>
              </form>
              {% endif %}
                <h2 class="h4 g-font-weight-300">До сплати: {{ price }}$</h2>
                <form method="post" action="https://www.liqpay.ua/api/3/checkout/" accept-charset="utf-8">
                    <input type="hidden" name="data" value="{{ data }}"/>
                    <input type="hidden" name="signature" value="{{ signature }}"/>
                    <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important; color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important; background: rgb(122,183,43) !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                      <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text" style="margin-right: 7px !important; vertical-align: middle !important;"/>
                      <span style="vertical-align:middle; !important">Оформити</span>
                    </button>
                </form>
              {% elif status == 2 %}
              <h2 class="h4 g-font-weight-300">Ваша підписка активована, та дійсна до: {{ profile.subscription_ends|date:"d.m.Y" }}</h2>
              {% elif status == 3 %}
              <h2 class="h4 g-font-weight-300">Ваша підписка активована, та дійсна до: {{ profile.subscription_ends|date:"d.m.Y" }}</h2>
              <br>
              <form method="post" action="https://www.liqpay.ua/api/3/checkout/" accept-charset="utf-8">
                    <input type="hidden" name="data" value="{{ cancel_data }}"/>
                    <input type="hidden" name="signature" value="{{ cancel_signature }}"/>
                    <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important; color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important; background: rgb(122,183,43) !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                      <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text" style="margin-right: 7px !important; vertical-align: middle !important;"/>
                      <span style="vertical-align:middle; !important">Відписатись</span>
                    </button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h5 class="modal-title">Обрізати фото</h5>
                    </div>
                    <div class="modal-body">
                      <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                      <button type="button" class="btn btn-success js-crop-and-upload">Обрізати</button>
                    </div>
                  </div>
                </div>
              </div>
  <section class="text-center" style="padding-top: 6rem; padding-bottom: 6rem; background-color: #F5F5F5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
            <!--<a href="https://www.instagram.com/first_step_diet/"><span class="fa-stack mr-1 text-green border border-300 rounded-circle bg-white fs-1">-->
            <!--<i class="fab fa-instagram fa-stack-1x"></i></span></a>-->
              <a href="https://www.instagram.com/first_step_diet/"><span class="fab fa-instagram text-black fs-1 mx-2"></span></a>
              <a href="#"><span class="fab fa-facebook-f text-black fs-1 mx-2"></span></a>
              <!--<a href="#"><span class="fab fa-pinterest-p text-black fs-1 mx-2"></span></a>-->
              <div class="d-block mt-4 fs--1 font-weight-bold text-sans-serif">
                <a class="mx-2 text-700" href="/help">FAQ</a>
                <a class="mx-2 text-700" href="/conditions">Умови користування</a>
                <a class="mx-2 text-700" href="/private">Політика конфіденційності</a>
                  <a class="mx-2 text-700" href="/contact">Контакти</a>
		<a class="mx-2 text-700" href="/ru">RU</a>
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/visa.png' %}">
                  <img style="height: 40px; width: 40px;" src="{% static 'assets/img/icons/mastercard.png' %}">
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}

{% block language %}
{% include 'core/language.html' %}
{% endblock %}
{% block ga %}
        {% include "core/ga.html" with ga_tracking_id=ga_tracking_id %}
        {% endblock ga %}
<script src="{% static 'assets1/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets1/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets1/vendor/popper.min.js' %}"></script>
<!--<script src="{% static 'assets1/vendor/bootstrap/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'assets/js/crop/bootstrap.min.js' %}"></script>


<script src="{% static 'assets1/vendor/appear.js' %}"></script>
<script src="{% static 'assets1/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static '/assets1/vendor/chosen/chosen.jquery.js' %}"></script>

<script src="{% static 'assets1/js/hs.core.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.header.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.tabs.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.progress-bar.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.not-empty-state.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.masked-input.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.select.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.counter.js' %}"></script>
<script src="{% static 'assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.rating.js' %}"></script>

<script src="{% static 'assets1/js/custom.js' %}"></script>

<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/lib/fancybox/jquery.fancybox.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>

<script src="{% static 'assets/js/crop/cropper.min.js' %}"></script>
      <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 500,
          minCropBoxHeight: 500,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>
</html>
