{% extends 'core/base_profile.html' %}
{% load static %}

{% block title %}{{ _('First Step | Рецепти') }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/cookbook.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Збережені рецепти</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
            {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between list-group-item-action">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item active justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
            <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>
        <div class="col-lg-9" id="recipe">
            <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
            <div class="container">
            <form class="g-width-60x--md mx-auto" method="post">
          {% csrf_token %}
          <div class="form-group g-mb-20">
            <div class="input-group u-shadow-v21 rounded g-mb-15">
              <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" required type="text" name="name" maxlength="100" id="id_name" placeholder="Пошук рецептів">
              <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                  <i class="icon-magnifier g-pos-rel g-top-1"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="12" width="12"></i>
                    <a href="/profile/{{ profile.slug }}/recipes/{{ fs.slug }}" class="text-white">First Step збережені рецепти (спеціально підібрані та дороблені для людей, котрі слідкують за своїм здоров'ям)</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for fs_recipe in fs_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if fs_recipe.image %}
                        <a href="/recipe/{{ fs_recipe.slug }}"><img class="card-img-top" src="{{ fs_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ fs_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ fs_recipe.name }}</h5>
			    <h6 class="card-title">{{ fs_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ fs_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ fs_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ fs_recipe.id }}">
                        <button class="remodal-close" id="{{ fs_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ fs_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ fs_recipe.portion }} {{ fs_recipe.portion_data.name }}, {{fs_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ fs_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ fs_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ fs_recipe.name }}">
                        <button class="remodal-close" id="{{ fs_recipe.id }}Close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ fs_recipe.name }}?</h4>
                        <form method="post" id="{{ fs_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ fs_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-red border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="icon-food-017 u-line-icon-pro g-pos-rel text-white g-top-1 g-mr-5"></i>
                    <a class="text-white">Класичні рецепти</a>
                </h3>
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/garnish.png' %}" height="12" width="12"></i>
                    <a class="text-white" href="/profile/{{ profile.slug }}/recipes/{{ garnish.slug }}">Гарніри</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for garnish_recipe in garnish_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if garnish_recipe.image %}
                        <a href="/recipe/{{ garnish_recipe.slug }}"><img class="card-img-top" src="{{ garnish_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ garnish_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ garnish_recipe.name }}</h5>
			    <h6 class="card-title">{{ garnish_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ garnish_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ garnish_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ garnish_recipe.id }}">
                        <button class="remodal-close" id="{{ garnish_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ garnish_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ garnish_recipe.portion }} {{ garnish_recipe.portion_data.name }}, {{garnish_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ garnish_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ garnish_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ garnish_recipe.name }}">
                        <button id="{{ garnish_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ garnish_recipe.name }}?</h4>
                        <form method="post" id="{{ garnish_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ garnish_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/meat.png' %}" height="12" width="12"></i>
                    <a class="text-white" href="/profile/{{ profile.slug }}/recipes/{{ meat.slug }}">М'ясні та молочні страви</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for meat_recipe in meat_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if meat_recipe.image %}
                        <a href="/recipe/{{ meat_recipe.slug }}"><img class="card-img-top" src="{{ meat_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ meat_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ meat_recipe.name }}</h5>
			    <h6 class="card-title">{{ meat_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ meat_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ meat_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ meat_recipe.id }}">
                        <button class="remodal-close" id="{{ meat_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ meat_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ meat_recipe.portion }} {{ meat_recipe.portion_data.name }}, {{meat_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ meat_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ meat_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ meat_recipe.name }}">
                        <button id="{{ meat_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ meat_recipe.name }}?</h4>
                        <form method="post" id="{{ meat_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ meat_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/salad.png' %}" height="12" width="12"></i>
                    <a href="/profile/{{ profile.slug }}/recipes/{{ salad.slug }}"  class="text-white">Салати</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for salad_recipe in salad_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if salad_recipe.image %}
                        <a href="/recipe/{{ salad_recipe.slug }}"><img class="card-img-top" src="{{ salad_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ salad_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ salad_recipe.name }}</h5>
			    <h6 class="card-title">{{ salad_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ salad_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ salad_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ salad_recipe.id }}">
                        <button class="remodal-close" id="{{ salad_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ salad_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ salad_recipe.portion }} {{ salad_recipe.portion_data.name }}, {{salad_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ salad_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ salad_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ salad_recipe.name }}">
                        <button id="{{ salad_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ salad_recipe.name }}?</h4>
                        <form method="post" id="{{ salad_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ salad_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/soup.png' %}" height="12" width="12"></i>
                    <a class="text-white" href="/profile/{{ profile.slug }}/recipes/{{ soup.slug }}">Супи</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for soup_recipe in soup_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if soup_recipe.image %}
                        <a href="/recipe/{{ soup_recipe.slug }}"><img class="card-img-top" src="{{ soup_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ soup_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ soup_recipe.name }}</h5>
			    <h6 class="card-title">{{ soup_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ soup_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ soup_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ soup_recipe.id }}">
                        <button class="remodal-close" id="{{ soup_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ soup_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ soup_recipe.portion }} {{ soup_recipe.portion_data.name }}, {{soup_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ soup_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ soup_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ soup_recipe.name }}">
                        <button id="{{ soup_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ soup_recipe.name }}?</h4>
                        <form method="post" id="{{ soup_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ soup_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/dessert.png' %}" height="12" width="12"></i>
                    <a class="text-white" href="/profile/{{ profile.slug }}/recipes/{{ dessert.slug }}">Десерти</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for dessert_recipe in dessert_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if dessert_recipe.image %}
                        <a href="/recipe/{{ dessert_recipe.slug }}"><img class="card-img-top" src="{{ dessert_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ dessert_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ dessert_recipe.name }}</h5>
                            <h6 class="card-title">{{ dessert_recipe.description }}</h6>
			</div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ dessert_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ dessert_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ dessert_recipe.id }}">
                        <button class="remodal-close" id="{{ dessert_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ dessert_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ dessert_recipe.portion }} {{ dessert_recipe.portion_data.name }}, {{dessert_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ dessert_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ dessert_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ dessert_recipe.name }}">
                        <button id="{{ dessert_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ dessert_recipe.name }}?</h4>
                        <form method="post" id="{{ dessert_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ dessert_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/drink.png' %}" height="12" width="12"></i>
                    <a class="text-white" href="/profile/{{ profile.slug }}/recipes/{{ drink.slug }}">Напої</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for drink_recipe in drink_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if drink_recipe.image %}
                        <a href="/recipe/{{ drink_recipe.slug }}"><img class="card-img-top" src="{{ drink_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ drink_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ drink_recipe.name }}</h5>
			    <h6 class="card-title">{{ drink_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ drink_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ drink_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ drink_recipe.id }}">
                        <button class="remodal-close" id="{{ drink_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ drink_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ drink_recipe.portion }} {{ drink_recipe.portion_data.name }}, {{drink_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ drink_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ drink_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ drink_recipe.name }}">
                        <button id="{{ drink_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ drink_recipe.name }}?</h4>
                        <form method="post" id="{{ drink_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ drink_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <i class="g-mr-5"><img src="{% static 'assets/img/icons/fast-food.png' %}" height="12" width="12"></i>
                    <a href="/profile/{{ profile.slug }}/recipes/{{ dirty.slug }}" class="text-white">Fast Food</a>
                </h3>
            </div>
            <div data-options='{"margin":5,"nav":true,"loop":true,"dots":false,"responsive":{"0":{"items":1},"576":{"items":2},"992":{"items":3},"1200":{"items":4}}}' class="owl-carousel owl-theme owl-nav-outer owl-dot-round">
                {% for dirty_recipe in dirty_recipes %}
                <div class="item">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if dirty_recipe.image %}
                        <a href="/recipe/{{ dirty_recipe.slug }}"><img class="card-img-top" src="{{ dirty_recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ dirty_recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ dirty_recipe.name }}</h5>
			    <h6 class="card-title">{{ dirty_recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ dirty_recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img  src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ dirty_recipe.name }}" href="#!" title="Не показувати більше: цей рецепт">
                                    <i><img  src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ dirty_recipe.id }}">
                        <button class="remodal-close" id="{{ dirty_recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ dirty_recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ dirty_recipe.portion }} {{ dirty_recipe.portion_data.name }}, {{dirty_recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ dirty_recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ dirty_recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ dirty_recipe.name }}">
                        <button id="{{ dirty_recipe.id }}Close" class="remodal-close" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ dirty_recipe.name }}?</h4>
                        <form method="post" id="{{ dirty_recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ dirty_recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    {% for fs_recipe in fs_recipes %}
        $(document).ready(function() {
            $('#{{ fs_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ fs_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
        $(document).ready(function() {
            $('#{{ fs_recipe.id }}Delete').ajaxForm(function() {
                document.getElementById("{{ fs_recipe.id }}Close").click();
                document.getElementById("ajax-text-me").click();
            });
        });
    {% endfor %}


    {% for garnish_recipe in garnish_recipes %}
        $(document).ready(function() {
            $('#{{ garnish_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ garnish_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}

    {% for meat_recipe in meat_recipes %}
        $(document).ready(function() {
            $('#{{ meat_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ meat_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}

    {% for salad_recipe in salad_recipes %}
        $(document).ready(function() {
            $('#{{ salad_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ salad_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}

    {% for soup_recipe in soup_recipes %}
        $(document).ready(function() {
            $('#{{ soup_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ soup_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}


    {% for dessert_recipe in dessert_recipes %}
        $(document).ready(function() {
            $('#{{ dessert_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ dessert_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}

    {% for drink_recipe in drink_recipes %}
        $(document).ready(function() {
            $('#{{ drink_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ drink_recipe.id }}AddClose").click();
                alert("Страву успішно добавлено");
            });
        });
    {% endfor %}

    {% for dirty_recipe in dirty_recipes %}
        $(document).ready(function() {
            $('#{{ dirty_recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ dirty_recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
    {% endfor %}



    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/profile/{{ profile.slug }}/recipes/',
                data: "profile_slug={{profile.slug}}",
                success: function(data) {
                    $('.remodal-wrapper').remove();
                    $('.remodal-overlay').remove();
                    $("#recipe").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#recipe").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>
{% endblock %}
