{% extends 'core/base_profile.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
    {% if category.image %}
      <div class="bg-holder" style="background-image:url({{ category.image.url }});"></div>
    {% else %}
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/cookbook.jpg' %});"></div>
      {% endif %}

  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ category.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
            {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between list-group-item-action">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
            <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>
        <div class="col-lg-9" id="category">
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <a class="text-white">Рекомендовано:</a>
                </h3>
            </div>
                <div class="row">
                {% for recipe in recipes %}
                    {% if recipe.recommended %}
                    <div class="col-lg-4">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            {% if recipe.image %}
                            <a href="/profile/{{ profile.slug }}/{{ meal.slug }}/{{ category.slug }}/{{ recipe.slug }}"><img class="card-img-top" src="{{ recipe.image.url }}" alt="Card image cap"></a>
                            {% else %}
                            <a href="/profile/{{ profile.slug }}/{{ meal.slug }}/{{ category.slug }}/{{ recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }} - {{ recipe.portion }} {{ recipe.portion_data.name }}</h5>
                            </div>
                            <hr class="g-brd-gray-light-v4 g-my-0">
                            <ul class="row list-inline g-py-20 g-ma-0">
                                <li class="col g-brd-right">
                                    <div style="text-align: center">
                                        <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="add{{ recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                            <img style="width: 100%" src="{% static 'assets/img/icons/plus.png' %}"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="remodal" data-remodal-id="add{{ recipe.id }}">
                            <button class="remodal-close" data-remodal-action="close"></button>
                            <h4>Добавити в денний раціон: {{ recipe.name }} {{ recipe.portion }} {{ recipe.portion_data.name }}</h4>
                            <form method="post">
                                {% csrf_token %}
                                <label for="id_user" style="display: none;">User:</label>
                                <select name="user" required="" id="id_user" style="display: none;">
                                    <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                                </select>
                                <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                                <select name="meals_per_day" id="id_meals_per_day" style="display: none;" class="g-color-black g-bg-green">
                                    <option value="{{ meal.id }}" selected="">---------</option>
                                </select>
                                <label for="id_fsrecipe" style="display: none;">Recipes:</label>
                                <select name="fsrecipe" id="id_fsrecipe" style="display: none;">
                                    <option value="{{ recipe.id }}" selected="">---------</option>
                                </select>
                                <label for="id_portion_number" style="display: none;">Portion Number:</label>
                                <select name="portion_number" required="" id="id_portion_number" style="display: none;" class="g-color-black g-bg-green">
                                <option value="1" selected="">---------</option>
                            </select>
                                <br><br>
                                <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <a class="text-white">Дозволено, але краще надати перевагу рекомендованим:</a>
                </h3>
            </div>
                <div class="row">
                    {% for recipe in recipes %}
                    {% if recipe.recommended == False %}
                    <div class="col-lg-4">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            {% if recipe.image %}
                            <a href="/profile/{{ profile.slug }}/{{ meal.slug }}/{{ category.slug }}/{{ recipe.slug }}"><img class="card-img-top" src="{{ recipe.image.url }}" alt="Card image cap"></a>
                            {% else %}
                            <a href="/profile/{{ profile.slug }}/{{ meal.slug }}/{{ category.slug }}/{{ recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }} - {{ recipe.portion }} {{ recipe.portion_data.name }}</h5>
                            </div>
                            <hr class="g-brd-gray-light-v4 g-my-0">
                            <ul class="row list-inline g-py-20 g-ma-0">
                                <li class="col g-brd-right">
                                    <div style="text-align: center">
                                        <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="add{{ recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                            <img style="width: 100%" src="{% static 'assets/img/icons/plus.png' %}"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="remodal" data-remodal-id="add{{ recipe.id }}">
                            <button class="remodal-close" data-remodal-action="close"></button>
                            <h4>Добавити в денний раціон: {{ recipe.name }} {{ recipe.portion }} {{ recipe.portion_data.name }}</h4>
                            <form method="post">
                                {% csrf_token %}
                                <label for="id_user" style="display: none;">User:</label>
                                <select name="user" required="" id="id_user" style="display: none;">
                                    <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                                </select>
                                <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                                <select name="meals_per_day" id="id_meals_per_day" style="display: none;" class="g-color-black g-bg-green">
                                    <option value="{{ meal.id }}" selected="">---------</option>
                                </select>
                                <label for="id_fsrecipe" style="display: none;">Recipes:</label>
                                <select name="fsrecipe" id="id_fsrecipe" style="display: none;">
                                    <option value="{{ recipe.id }}" selected="">---------</option>
                                </select>
                                <label for="id_portion_number" style="display: none;">Portion Number:</label>
                                <select name="portion_number" required="" id="id_portion_number" style="display: none;" class="g-color-black g-bg-green">
                                <option value="1" selected="">---------</option>
                            </select>
                                <br><br>
                                <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}

