{% extends 'core/base_profile.html' %}
{% load static %}

{% block title %}{{ _('First Step | Особистий кабінет') }}{% endblock %}
{% block content %}
<div class="preloader" id="preloader">
 <div class="preloader-inner">
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
     </div>
     <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
     </div>
     <div class="preloader-line-wrap">
       <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
      <div class="preloader-line"></div>
    </div>
    <div class="preloader-line-wrap">
       <div class="preloader-line"></div>
     </div>
   </div>
 </div>
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/profile.jpg' %});"></div><div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="overflow-hidden">
        <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Особистий кабінет</h1>
      </div>
    </div>
  </div>
</div>
</section>
<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/profile/{{profile.slug}}/settings" title="Змінити фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>

        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2" id="sidebar">
          <a href="/profile/{{ profile.slug }}" class="list-group-item justify-content-between active">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профіль</span>
          </a>
          <a href="/profile/{{ profile.slug }}/diet" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Дієта</span>
          </a>
          <a href="/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзі</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Повідомлення</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепти</span>
          </a>
          <a href="/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Швидке рішення</span>
          </a>
          <a href="/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Налаштування</span>
          </a>
        </div>
      </div>



      <div class="col-lg-9">
        <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40 u-shadow-v2">
          <div class="row">
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
              <div class="g-mb-20">
                {% if profile.file %}
                <img class="img-fluid w-100" src="{{ profile.file.url }}" alt="Image Description">
                {% else %}
                <img class="img-fluid w-100" src="{% static 'assets/img/icons/avatar.jpg' %}" >
                {% endif %}
              </div>
              <a class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" href="/profile/{{ profile.slug }}/diet">Іти до цілі</a>
              <a class="btn btn-block u-btn-darkgray g-rounded-50 g-py-12 g-mb-10" href="/profile/{{ profile.slug }}/settings">Редагувати</a>
            </div>
            <div class="col-lg-8">
              <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                {% if profile.name %}

                <h2 class="g-font-weight-500 g-mr-10">{{ profile.name }}</h2>
                {% else %}
                <h2 class="g-font-weight-500 g-mr-10">{{ profile.user.username }}</h2>
                {% endif %}
                <ul class="list-inline mb-0">
                  {% if profile.facebook %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ profile.facebook }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/facebook.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                  {% if profile.instagram %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ profile.instagram }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/instagram.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                  {% if profile.you_tube  %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ profile.you_tube }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/youtube.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              {% if profile.user_status_id == 1 %}
                <p class="lead g-line-height-1_8" style="color: #626262">{{ profile.user_status }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  profile.user_status_id == 2 %}
                <p class="lead g-line-height-1_8" style="color: #caa430">{{ profile.user_status }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  profile.user_status_id == 3 %}
                <p class="lead g-line-height-1_8" style="color: #7416ca">{{ profile.user_status }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  profile.user_status_id == 4 %}
                <p class="lead g-line-height-1_8" style="color: #72c02c">{{ profile.user_status }}</p>
                <hr class="g-brd-gray-light-v4">
                {% endif %}
              <ul class="list-inline g-font-weight-300">
                {% if profile.country != None %}
                <li class="list-inline-item g-mr-20">
                  <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> {{ profile.city }}, {{ profile.country }}
                </li>
                {% endif %}
                {% if status == True %}
                <li class="list-inline-item g-mr-20">
                  <a style="color: #72c02c">Онлайн</a>
                </li>
                {% else %}
                <li class="list-inline-item g-mr-20">
                  <a style="color: #BA0303">Офлайн</a>
                </li>
                {% endif %}
              </ul>
              <hr class="g-brd-gray-light-v4">
              {% if profile.status != None %}
              <p class="lead g-line-height-1_8">Статус: {{ profile.status }}</p>
              <hr class="g-brd-gray-light-v4">
              {% endif %}
              <p class="g-line-height-1_8">Стать: {{ profile.sex }}</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Вік: {{ profile.age }}</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Ріст: {{ profile.growth }} см.</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Ціль: {{ profile.target }}</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Початкова вага: {{ profile.start_weight }} кг.</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Вага: {{ profile.weight }} кг.</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Стиль життя: {{ profile.life_style }}</p>
              <hr class="g-brd-gray-light-v4">
              <p class="g-line-height-1_8">Тип тіла: {{ profile.body_type }}</p>
              <hr class="g-brd-gray-light-v4">
            </div>
          </div>
        </div>


        <div class="row g-mb-40">
          <div class="col-md-6" style="padding-bottom: 10px">
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                  <i class="icon-communication-020 g-pos-rel text-white g-top-1 g-mr-5"></i>
                  <a class="text-white">Стаття дня
                  </a>
                </h3>
              </div>
            <div class="g-bg-purple g-color-white g-pa-15 u-shadow-v2">
              <header class="d-flex text-uppercase g-mb-1">
                <div class="g-line-height-1">
                  <h5 class="h6">{{ article.name }}</h5>
                </div>
              </header>
              <a href="/blog/article/{{ article.slug }}">
                <img data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll"  class="img-fluid w-100" src="{{ article.main_image.url }}" href="/blog/article/{{ article.slug }}"></a>
            </div>
          </div>


          <div class="col-md-6">
          <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
            <h3 class="h6 mb-0">
              <img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/progress.png' %}" height="16" width="16">
              <a class="text-white">Прогрес</a>
            </h3>
          </div>
			<div style="width:100%;">
				<canvas id="chart"></canvas>
				<div class="chartjs-tooltip"></div>
				<div class="chartjs-tooltip"></div>
			</div>
          </div>


        </div>
            <div class="card border-0">
              <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                  <i class="icon-communication-020 g-pos-rel text-white g-top-1 g-mr-5"></i>
                  <a class="text-white">Новини
                  </a>
                </h3>
              </div>
              <div class="js-scrollbar card-block  u-info-v1-1 g-bg-white-gradient-v1--after g-height-100 g-pa-0">
                <article class="media g-mb-20">
                  <a class="d-flex mr-3" href="/profile/user">
                    <img class="rounded-circle g-width-40 g-height-40" src="{% static 'assets/img/icons/system.png' %}" alt="Image Description">
                  </a>
                  <div class="media-body">
                    <h3 class="h6">
                      <a href="/profile/user"><span class="g-color-black g-font-weight-800">Admin</span></a>
                      <!--<span class="g-color-gray-dark-v4">26m</span>-->
                    </h3>
                    <p class="g-color-gray-dark-v4 g-mb-5">В розробці.</p>
                  </div>
                </article>
                <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-20">
              </div>
            </div>
        <div class="card border-0 rounded-0 g-mb-50">
          <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
            <h3 class="h6 mb-0">
              <i class="icon-people g-pos-rel text-white g-top-1 g-mr-5"></i>
              <a class="text-white">Можливі друзі
              </a>
            </h3>
          </div>
          <div class="card-block g-pa-0">
            <div class="row">
              {% for friend in friends %}
                  <div class="col-md-4">
                    <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-purple--hover g-transition-0_2 text-center">
                      <div class="g-py-40 g-px-20">
                        <a href="/profile/{{ profile.slug }}/user/{{ friend.slug }}"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% if friend.file %}{{ friend.file.url }}{% else %}{% static 'assets/img/icons/avatar.jpg' %}{% endif %}" alt="Image Description"></a>
                        <a href="/profile/{{ profile.slug }}/user/{{ friend.slug }}"><h4 class="h5 g-mb-5"><font color="black">{{ friend.user.username }}</font></h4></a>
                      </div>
                      <hr class="g-brd-gray-light-v4 g-my-0">
                      <ul class="row list-inline g-py-20 g-ma-0">
                        <li class="col g-brd-right g-brd-gray-light-v4">
                          <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/dialogs/{{ friend.user.username }}">
                            <i class="icon-bubbles"></i>
                          </a>
                        </li>
                        <li class="col g-brd-right">
                          <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" data-remodal-target="{{ friend.id }}" href="#!" title="Добавити в друзі">
                            <i class="icon-people"></i>
                          </a>
                        </li>
                      </ul>
                    </figure>
                  </div>
		    <div class="remodal" data-remodal-id="{{ friend.id }}">
                      <button class="remodal-close" id="{{ friend.id }}Close" data-remodal-action="close"></button>
                      <h4>Додати {{ friend.user.username }} в друзі?</h4>
                      <br>
                      <form method="post" id="{{ friend.id }}Add">
                        {% csrf_token %}
                        <input type="text" name="name" value="add" maxlength="100" id="id_name" style="display: none;">
                        <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                          <option value="{{ friend.id }}" selected=""></option>
                        </select>
                        <br>
                        <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                        <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                      </form>
                    </div>
                  
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
	<script src="{% static '/graph/dist/Chart.bundle.js' %}"></script>
	<script src="{% static '/graph/samples/utils.js' %}"></script>
	<script>
		var customTooltips = function(tooltip) {
			$(this._chart.canvas).css('cursor', 'pointer');

			var positionY = this._chart.canvas.offsetTop;
			var positionX = this._chart.canvas.offsetLeft;

			$('.chartjs-tooltip').css({
				opacity: 0,
			});

			if (!tooltip || !tooltip.opacity) {
				return;
			}

			if (tooltip.dataPoints.length > 0) {
				tooltip.dataPoints.forEach(function(dataPoint) {
					var content = [dataPoint.xLabel, dataPoint.yLabel].join(': ');
					var $tooltip = $('#tooltip-' + dataPoint.datasetIndex);

					$tooltip.html(content);
					$tooltip.css({
						opacity: 1,
						top: positionY + dataPoint.y + 'px',
						left: positionX + dataPoint.x + 'px',
					});
				});
			}
		};


		var color = Chart.helpers.color;
		var lineChartData = {
			labels: ['{{ created|date:"d.m.y" }}',
			        {% for i in time %}
                    '{{ i|date:"d.m.y" }}',
                    {% endfor %}
                    ],
			datasets: [{
				label: 'Вага кг.',
				backgroundColor: color(window.chartColors.green).alpha(0.2).rgbString(),
				borderColor: window.chartColors.green,
				pointBackgroundColor: window.chartColors.green,
				data: [
				        {{ profile.start_weight }},
                    {% for i in weight %}
                    {{ i }},
                    {% endfor %}
				]
			}]
		};

		window.onload = function() {
		    [{
                id: 'chart'
			}].forEach(function (details) {
				var chartEl = document.getElementById(details.id);
				new Chart(chartEl, {
				type: 'line',
				data: lineChartData,
				options: {
					title: {
						display: true,
						text: 'Дані зміни ваги. Y - вага, X - тижні'
					},
					tooltips: {
						enabled: false,
						mode: 'index',
						intersect: false,
						custom: customTooltips
					}
				}
			});
            })

		};

	</script>
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
  {% for friend in friends %}
  $(document).ready(function() {
            $('#{{ friend.id }}Add').ajaxForm(function() {
                document.getElementById("{{ friend.id }}Close").click();
                alert("Запит надіслано");
            });
        });
  {% endfor %}

</script>

{% endblock %}
