{% extends 'core/base_profile_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Быстрое решение') }}{% endblock %}
{% block content %}

<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/quick.jpg' %});"></div><div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="overflow-hidden">
        <h1 class="text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">Быстрое решение</h1>
      </div>
    </div>
  </div>
</div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/ru/profile/{{ profile.slug }}" class="list-group-item justify-content-between list-group-item-action">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профиль</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/diet" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Диета</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзья</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/ru/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепты</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/quick-decision" class="list-group-item active justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Быстрое решение</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
          <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <a class="text-white"><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16">Для тех, у кого всегда не хватает времени</a>
                </h3>
            </div>
          <h2 class="h4 g-font-weight-600">Функция для помощи в форс-мажорных ситуациях.</h2>
              <p>Если вы попали в ситуацию, когда нет возможности придерживаться диеты, вы можете выбрать один из доступных вам способов приема пищи на данный момент и программа подберет для вас лучший вариант с учетом особенности вашей диеты и времени дня.</p>
        <div class="g-bg-img-hero g-bg-pos-top-center g-pos-rel g-z-index-1 g-mt-minus-150">
          <div class="container g-pt-150 g-pb-30">
            <form class="row" method="post">
            {% csrf_token %}
            <!--<label for="id_source">Source:</label>-->
            <!--<select name="source" required="" id="id_source">-->
              <!--<option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
              <!--<option value="1">магаз</option>-->
            <!--</select>-->
            <!--<label for="id_target">Target:</label>-->
            <!--<select name="target" required="" id="id_target">-->
              <!--<option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
              <!--<option value="1">1</option>-->
              <!--<option value="2">2</option>-->
              <!--<option value="3">3</option>-->
            <!--</select>-->
            <!--<label for="id_day_time">DayTIme:</label>-->
            <!--<select name="day_time" required="" id="id_day_time">-->
              <!--<option value="" selected="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
              <!--<option value="1">1</option>-->
              <!--<option value="2">2</option>-->
            <!--</select>-->
              <div class="row">
                <div class="col-sm-6 g-mb-50">
                  <label for="id_name" style="display: none;">Variants In Ukraine:</label>
                    <input type="text" name="name" value="bla" maxlength="64" required="" style="display: none;" id="id_name">
                  <label for="id_name_ru" style="display: none;">Variants In Russian:</label>
                    <input type="text" name="name_ru" style="display: none;" value="bla" maxlength="64" required="" id="id_name_ru">

                    <label class="g-font-weight-600 g-font-size-15 g-pl-30" for="id_source">Доступные варианты</label>
                    <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-green text-left g-rounded-30 g-pl-30 g-py-12" name="source" required="" id="id_source">
                      <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" selected="" value="">---------</option>
                      {% for source in sources %}
                      <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="{{ source.id }}">{{ source.name_ru }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <label for="id_target" style="display: none;">Target:</label>
                  <select name="target" required="" id="id_target" style="display: none;">
                    <option value="{{ profile.target_id }}" selected="">---------</option>
                  </select>

                  <div class="col-sm-6 g-mb-50">
                    <label class="g-font-weight-600 g-font-size-15 g-pl-30" for="id_day_time">Время суток</label>
                    <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-green text-left g-rounded-30 g-pl-30 g-py-12" name="day_time" required="" id="id_day_time">
                      <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" selected="" value="">---------</option>
                      {% for day in daytime %}
                      <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="{{ day.id }}">{{ day.name_ru }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-6 g-mt-30 g-mb-30" style="margin: auto;">
                    <div class="d-flex">
                      <button class="btn btn-block u-shadow-v32 g-brd-none g-color-white g-bg-green g-bg-primary--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="submit">Поиск</button>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}