{% extends 'core/base_profile_ru.html' %}
{% load static %}
{% block title %}
{% if user_.name %}
{{ user_.name }}
{% else %}
{{ user_.user.username }}
{% endif %}
{% endblock %}
{% block content %}
<section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
  <div class="bg-holder " style="background-image:url({% static '/assets/img/fon/user.jpg' %});">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="overflow-hidden">
          {% if user_.name %}
          <h1 class="text-shadow text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ user_.name }}</h1>
          {% else %}
          <h1 class="text-shadow text-white stroke_javood" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">{{ user_.user.username }}</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <div class="u-block-hover g-pos-rel">
          {% if profile.file %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{{ profile.file.url }}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% else %}
          <img class="u-block-hover__main--zoom-v1 u-shadow-v2 rounded-circle" src="{% static 'assets/img/icons/avatar.jpg' %}" >
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
                <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
                  <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7">
                      <a class="u-icon-v1 u-icon-size--md g-color-white" href="/ru/profile/{{profile.slug}}/settings" title="Изменить фото">
                        <i class="icon-settings u-line-icon-pro"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </figcaption>
          {% endif %}
          <span class="g-pos-abs g-top-10 g-left-0">
            {% if profile.name %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ profile.name }}</font></a>
            {% else %}
            <a class="g-pa-7 u-btn-primary g-rounded-50 g-font-weight-800"><font color="white">{{ user.username }}</font></a>
            {% endif %}
          </span>
        </div>
        <div class="list-group list-group-border-0 g-mb-40 u-shadow-v2">
          <a href="/ru/profile/{{ profile.slug }}" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> Профиль</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/diet" class="list-group-item justify-content-between list-group-item-action">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/favicons/favicons_150x150.png' %}" height="16" width="16"> Диета</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/friends" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-people g-pos-rel g-top-1 g-mr-8"></i> Друзья</span>
            <span class="u-label g-font-size-11 g-bg-primary g-rounded-20 g-px-10">{% if friend_request.count == 0 %}{% else %}{{ friend_request.count }}{% endif %}</span>
          </a>
          <a href="/chat/ru/dialogs/" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-bubbles g-pos-rel g-top-1 g-mr-8"></i> Сообщения</span>
            <span class="u-label g-font-size-11 g-bg-red g-rounded-20 g-px-10">{% if messages == 0 %}{% else %}{{ messages }}{% endif %}</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/recipes" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/recipe.png' %}" height="16" width="16"> Рецепты</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/quick-decision" class="list-group-item list-group-item-action justify-content-between">
            <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/quick.png' %}" height="16" width="16"> Быстрое решение</span>
          </a>
          <a href="/ru/profile/{{ profile.slug }}/settings" class="list-group-item list-group-item-action justify-content-between">
            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> Настройки</span>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40 u-shadow-v2">
          <div class="row">
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
              <div class="g-mb-20">
                {% if user_.file %}
                <img class="img-fluid w-100" src="{{ user_.file.url }}" alt="Image Description">
                {% else %}
                <img class="img-fluid w-100" src="{% static 'assets/img/icons/avatar.jpg' %}" >
                {% endif %}
              </div>
              {% if user_ != profile %}
              {% if if_friend == False %}
              <form method="post" id="adduser">
                {% csrf_token %}
                <input type="text" name="name" value="add" maxlength="100" id="id_name" style="display: none;">
                <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                  <option value="{{user_.user.id}}" selected=""></option>
                </select>
                <button class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10" type="submit">
                  <i class="icon-user-follow g-pos-rel g-top-1 g-mr-5" ></i>Добавить в друзья</button>
              </form>
              {% else %}
              <button class="btn btn-block u-btn-outline-primary g-rounded-50 g-py-12 g-mb-10">Друзья</button>
              {% endif %}
              <a class="btn btn-block u-btn-darkgray g-rounded-50 g-py-12 g-mb-10" href="/chat/dialogs/{{ user_.user.username }}">
                <i class="icon-bubbles g-pos-rel g-top-1 g-mr-5"></i> Написать
              </a>
              {% endif %}
            </div>
            <div class="col-lg-8">
              <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                {% if user_.name %}
                <h2 class="g-font-weight-500 g-mr-10">{{ user_.name }}</h2>
                {% else %}
                <h2 class="g-font-weight-500 g-mr-10">{{ user_.user.username }}</h2>
                {% endif %}
                <ul class="list-inline mb-0">
                  {% if user_.facebook %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ user_.facebook }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/facebook.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                  {% if user_.instagram %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ user_.instagram }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/instagram.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                  {% if user_.you_tube  %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover" href="{{ user_.you_tube }}" target="_blank">
                      <span><img class="g-pos-rel g-top-1 g-mr-8" src="{% static 'assets/img/icons/youtube.png' %}" height="32" width="32"></span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              {% if user_.user_status_id == 1 %}
                <p class="lead g-line-height-1_8" style="color: #626262">{{ user_.user_status.name_ru }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  user_.user_status_id == 2 %}
                <p class="lead g-line-height-1_8" style="color: #caa430">{{ user_.user_status.name_ru }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  user_.user_status_id == 3 %}
                <p class="lead g-line-height-1_8" style="color: #7416ca">{{ user_.user_status.name_ru }}</p>
                <hr class="g-brd-gray-light-v4">
                {% elif  user_.user_status_id == 4 %}
                <p class="lead g-line-height-1_8" style="color: #72c02c">{{ user_.user_status.name_ru }}</p>
                <hr class="g-brd-gray-light-v4">
                {% endif %}
              {% if user_.status != None %}
              <p class="lead g-line-height-1_8">Статус: {{ user_.status }}</p>
              <hr class="g-brd-gray-light-v4">
              {% endif %}
              <ul class="list-inline g-font-weight-300">
                {% if user_.country != None %}
                <li class="list-inline-item g-mr-20">
                  <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> {{ user_.city }}, {{ user_.country }}
                </li>
                {% endif %}
                {% if status == True %}
                <li class="list-inline-item g-mr-20">
                  <a style="color: #72c02c">Онлайн</a>
                </li>
                {% else %}
                <li class="list-inline-item g-mr-20">
                  <a style="color: #BA0303">Оффлайн</a>
                </li>
                {% endif %}
              </ul>
              <hr class="g-brd-gray-light-v4 g-my-20">
              {% if user_.short_description_ru != None %}
              <p class="lead g-line-height-1_8">{{ user_.short_description_ru }}</p>
              <hr class="g-brd-gray-light-v4 g-my-20">
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-header d-flex align-items-center justify-content-between g-bg-green text-white border-0 g-mb-15 u-shadow-v2">
          <h3 class="h6 mb-0">
            <i class="icon-people g-pos-rel text-white g-top-1 g-mr-5"></i> Друзья
          </h3>
        </div>
        <div class="card-block g-pa-0">
          <div class="row">
            {% for friend in friends %}
            {% if friend.profile != profile %}
          <div class="col-md-4">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.profile.file %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{{ friend.profile.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% static 'assets/img/icons/avatar.jpg' %}" ></a>
                {% endif %}
                {% if friend.profile.name %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.profile.name }}</font></h4></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/dialogs/{{ friend.username }}">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
                <li class="col">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover" data-remodal-target="{{ friend.id }}" href="#!" title="Добавить в друзья">
                      <i class="icon-people"></i>
                    </a>
                  </li>
              </ul>
            </figure>
          </div>
            <div class="remodal" data-remodal-id="{{ friend.id }}">
              <button class="remodal-close" id="{{ friend.id }}Close" data-remodal-action="close"></button>
              <h4>Добавить {{ friend.username }} в друзья?</h4>
              <br>
              <form method="post" id="{{ friend.id }}Add">
                {% csrf_token %}
                <input type="text" name="name" value="add" maxlength="100" id="id_name" style="display: none;">
                <select name="friends" required="" style="display: none;" id="id_friends" multiple="">
                  <option value="{{friend.id}}" selected=""></option>
                </select>
                <br>
                <button class="btn btn-sm btn-success mr-3" type="submit">Добавить</button>
                <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Отменить</button>
              </form>
            </div>
            {% else %}
            <div class="col-md-4">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.profile.file %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{{ friend.profile.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% static 'assets/img/icons/avatar.jpg' %}" ></a>
                {% endif %}
                {% if friend.profile.name %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.profile.name }}</font></h4></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col g-brd-right g-brd-gray-light-v4">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
                <li class="col">
                    <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-red--hover">
                      <i class="icon-people"></i>
                    </a>
                  </li>
              </ul>
            </figure>
          </div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="row g-mb-40">
            <div style="margin: auto">
              {% if friends.has_other_pages %}
              <ul class="pagination">
                {% if friends.has_previous %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ friends.previous_page_number }}">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-left disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" >
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Предыдущая
                    </span>
                  </a>
                </li>
                {% endif %}
                {% for i in friends.paginator.page_range %}
                {% if friends.number == i %}
                <li class="list-inline-item g-hidden-sm-down text-white">
                  <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14">{{ i }}</a>
                </li>
                {% else %}
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if friends.has_next %}
                <li class="list-inline-item float-sm-right">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16" href="?page={{ friends.next_page_number }}" >
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% else %}
                <li class="list-inline-item float-sm-right disabled">
                  <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16">
                    <span aria-hidden="true">
                      Следующая <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
          {% if common_friends %}
        <div class="card-header d-flex align-items-center justify-content-between g-bg-green text-white border-0 g-mb-15 u-shadow-v2">
          <h3 class="h6 mb-0">
            <i class="icon-people g-pos-rel text-white g-top-1 g-mr-5"></i> Совместные Друзья
          </h3>
        </div>
        <div class="card-block g-pa-0">
          <div class="row">
            {% for friend in common_friends %}
            {% if friend.profile != profile %}
          <div class="col-md-4">
            <figure class="g-bg-white g-brd-around u-shadow-v2 g-brd-gray-light-v4 g-brd-cyan--hover g-transition-0_2 text-center">
              <div class="g-py-40 g-px-20">
                {% if friend.profile.file %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{{ friend.profile.file.url }}" alt="Image Description"></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}/user/{{ friend.profile.slug }}/"><img class="g-width-100 g-height-100 u-shadow-v2 rounded-circle g-mb-20" src="{% static 'assets/img/icons/avatar.jpg' %}" ></a>
                {% endif %}
                {% if friend.profile.name %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.profile.name }}</font></h4></a>
                {% else %}
                <a href="/ru/profile/{{ profile.slug }}//user/{{ friend.profile.slug }}/"><h4 class="h5 g-mb-5"><font color="black">{{ friend.username }}</font></h4></a>
                {% endif %}
              </div>
              <hr class="g-brd-gray-light-v4 g-my-0">
              <ul class="row list-inline g-py-20 g-ma-0">
                <li class="col">
                  <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" href="/chat/dialogs/{{ friend.username }}">
                    <i class="icon-bubbles"></i>
                  </a>
                </li>
              </ul>
            </figure>
          </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    {% for friend in friends %}
        $(document).ready(function() {
            $('#{{ friend.id }}Add').ajaxForm(function() {
                document.getElementById("{{ friend.id }}Close").click();
                alert("Запрос отправлен");
            });
        });
    {% endfor %}
    $(document).ready(function() {
            $('#adduser').ajaxForm(function() {
                alert("Запрос отправлен");
            });
        });
    </script>

{% endblock %}
