{% load static %}
<div class="col-lg-9" id="search">
            <a href="#" id="ajax-text-me" style="display: none">Натисни мене ніжно</a>
            <div class="container">
                <form class="g-width-60x--md mx-auto" method="post">
                    {% csrf_token %}
                    <div class="form-group g-mb-20">
                        <div class="input-group u-shadow-v21 rounded g-mb-15">
                            <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" required name="name" maxlength="100" id="id_name" placeholder="Пошук рецептів">
                            <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                                <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                                    <i class="icon-magnifier g-pos-rel g-top-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-header d-flex align-items-center justify-content-between g-bg-green border-0 g-mb-15 u-shadow-v2">
                <h3 class="h6 mb-0">
                    <a class="text-white">Пошук рецептів</a>
                </h3>
            </div>
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-lg-4">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        {% if recipe.image %}
                        <a href="/recipe/{{ recipe.slug }}"><img class="card-img-top" src="{{ recipe.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="/recipe/{{ recipe.slug }}"><img class="card-img-top" src="{% static 'assets/img/coming-soon.png' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
			    <h6 class="card-title">{{ recipe.description }}</h6>
                        </div>
                        <hr class="g-brd-gray-light-v4 g-my-0">
                        <ul class="row list-inline g-py-20 g-ma-0">
                            <li class="col g-brd-right g-brd-gray-light-v4">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-cyan--hover" data-remodal-target="{{ recipe.id }}" href="#!" title="Додати рецепт в раціон"><i>
                                    <img style="width: 100%" src="{% static 'assets/img/icons/plus.png' %}"></i>
                                </a>
                            </div>
                            </li>
                            <li class="col">
                            <div style="text-align: center">
                                <a class="u-icon-v1 u-icon-size--xs g-color-gray-dark-v5 g-bg-transparent g-color-purple--hover" data-remodal-target="{{ recipe.name }}" href="#!" title="Не показувати більше цей рецепт">
                                    <i><img  style="width: 100%" src="{% static 'assets/img/icons/false.png' %}"></i>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="remodal" data-remodal-id="{{ recipe.id }}">
                        <button class="remodal-close" id="{{ recipe.id }}AddClose" data-remodal-action="close"></button>
                        <h4>Додати в денний раціон: {{ recipe.name }}</h4>
                        <br>
                        <h5>Кількість порцій:</h5>
                        <h6>(за один прийом їжі рекомендується {{ recommend }} калорій)</h6>
                        <h6>1 порція: {{ recipe.portion }} {{ recipe.portion_data.name }}, {{recipe.calories}} калорій.</h6>
                        <br>
                        <form method="post" id="{{ recipe.id }}Add">
                            {% csrf_token %}
                            <label for="id_user" style="display: none;">User:</label>
                            <select name="user" required="" id="id_user" style="display: none;">
                                <option value="{{ profile.user_id }}" style="display: none;" selected="">---------</option>
                            </select>
                            <h5>Прийом їжі:</h5>
                            <label for="id_meals_per_day" style="display: none;">Meals Per Day Name:</label>
                            <select name="meals_per_day" id="id_meals_per_day" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                {% for meal in meals %}
                                <option value="{{ meal.id }}">{{ meal.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="id_recipe" style="display: none;">Recipes:</label>
                            <select name="recipe" id="id_recipe" style="display: none;">
                                <option value="{{ recipe.id }}" selected="">---------</option>
                            </select>
                            <br><br><h5>Кількість порцій:</h5>
                            <label for="id_portion_number" style="display: none;">Portion Number:</label>
                            <select name="portion_number" required="" id="id_portion_number" style="width: 75%" class="g-color-black g-bg-green">
                                <option value="" selected="">---------</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br><br><br>
                            <button class="btn btn-sm btn-success mr-3" type="submit">Додати</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                    <div class="remodal" data-remodal-id="{{ recipe.name }}">
                        <button class="remodal-close" id="{{ recipe.id }}DeleteClose" data-remodal-action="close"></button>
                        <h4>Не показувати більше: {{ recipe.name }}?</h4>
                        <form method="post" id="{{ recipe.id }}Delete">
                            {% csrf_token %}
                            <label for="id_delete_recipes" style="display: none;"></label><select style="display: none;" name="delete_recipes" id="id_delete_recipes" multiple="">
                            <option value="{{ recipe.id }}" selected=""></option>
                        </select>
                            <label for="id_delete_recipe" style="display: none;">Delete recipe:</label><select style="display: none;" name="delete_recipe" required="" id="id_delete_recipe" multiple="">
                            <option value="2" selected="">mad</option>
                        </select>
                            <br><br>
                            <button class="btn btn-sm btn-success mr-3" name="delete" type="submit">Ні</button>
                            <button class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Відмінити</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


{% block js2 %}
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/lib/fancybox/jquery.fancybox.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>
<script src="{% static 'assets/lib/remodal/remodal.js' %}"></script>

<script src="{% static 'assets/js/jquery.form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<script>
    {% for recipe in recipes %}
        $(document).ready(function() {
            $('#{{ recipe.id }}Add').ajaxForm(function() {
                document.getElementById("{{ recipe.id }}AddClose").click();
                alert("Страву успішно додано");
            });
        });
        $(document).ready(function() {
            $('#{{ recipe.id }}Delete').ajaxForm(function() {
                document.getElementById("{{ recipe.id }}DeleteClose").click();
                document.getElementById("ajax-text-me").click();
            });
        });
    {% endfor %}
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ajax-text-me").click(function() {
            $.ajax({
                type: 'GET',
                async: true,
                url: '/profile/{{ profile.slug }}/recipes/search/',
                data: "profile_slug={{profile.slug}}",
                success: function(data) {
                    $('.remodal-wrapper').remove();
                    $('.remodal-overlay').remove();
                    $("#search").replaceWith(data['html']);
                    $('html, body').animate({
                    scrollTop: $("#search").offset().top
                    }, 0);
                },
                dataType: 'json',
            });
        });
    });
</script>
{% endblock %}
