{% extends 'core/base_ru.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ _('First Step | Sign Up') }}{% endblock %}
{% block content %}
<section class="py-0" id="page-signup">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="sticky-top h-lg-100vh py-9">
          <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/signup.jpg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
          </div>
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          {% if user.is_authenticated %}
          <h3 class="display-4 fs-2">Вы уже зарегистрированы</h3>
          {% else %}
          <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
            <h3 class="display-4 fs-2">Регистрация на сервисе
              <br/>First Step</h3>
            <form class="mt-5" method="post">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              {% for field in form.visible_fields %}
              <div class="row mb-4">
                <div class="col">
                  {{ field|add_class:'form-control border-300 bg-light' }}
                  {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <div class="row mb-4 align-items-center">
                <div class="col-auto">
                  <input class="btn btn-dark btn-block" type="submit" name="submit" value="Создать аккаунт" />
                </div>
                <div class="col-sm">
                  <p class="fs--1 text-700 mb-0 text-sans-serif mt-2 mt-lg-0 font-weight-bold">Зарегистрировавшись, вы тем самым принимаете
                    <a class="text-black" href="/ru/conditions">условия пользования.</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
