{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
      <!--<link rel="stylesheet" href="{% static 'assets1/vendor/bootstrap/bootstrap.min.css' %}">-->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'assets/css/cropper.min.css' %}" rel="stylesheet">
  </head>
  <body>
  <section class="g-mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
          <form class="mt-5" method="post">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              {% for field in form.visible_fields %}
              <div class="row mb-4">
                <div class="col">
                  {{ field }}
                  {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <div class="row mb-4 align-items-center">
                <div class="col-auto">
                  <input class="btn btn-dark btn-block" type="submit" name="submit" value="Створити аккаунт" />
                </div>
                <div class="col-sm">
                  <p class="fs--1 text-700 mb-0 text-sans-serif mt-2 mt-lg-0 font-weight-bold">Зареєструвавшись, ви цим самим приймаєте
                    <a class="text-black" href="#">правила та умови.</a>
                  </p>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>

<form method="post" enctype="multipart/form-data" id="formUpload">
              {% csrf_token %}
                <div class="form-group mt-4">
                  <input class="zinput-file" id="id_file" type="file" name="file" accept="image/*" data-multiple-caption="{count} files selected" multiple="">
                  <label class="btn btn-outline-success btn-sm" for="id_file">
                    <span>Виберіть файл</span></label>
                  <input type="hidden" name="x" id="id_x">
                  <input type="hidden" name="y" id="id_y">
                  <input type="hidden" name="width" id="id_width">
                  <input type="hidden" name="height" id="id_height">
                </div>
              </form>
              <div class="modal fade" id="modalCrop">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h5 class="modal-title">Обрізати фото</h5>
                    </div>
                    <div class="modal-body">
                      <img src="" id="image" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                      <button type="button" class="btn btn-success js-crop-and-upload">Обрізати</button>
                    </div>
                  </div>
                </div>
              </div>
  </section>
<script src="{% static 'assets1/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets1/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'assets1/vendor/popper.min.js' %}"></script>
<!--<script src="{% static 'assets1/vendor/bootstrap/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'assets/js/crop/bootstrap.min.js' %}"></script>


<script src="{% static 'assets1/vendor/appear.js' %}"></script>
<script src="{% static 'assets1/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'assets1/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static '/assets1/vendor/chosen/chosen.jquery.js' %}"></script>

<script src="{% static 'assets1/js/hs.core.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.header.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.tabs.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.progress-bar.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.not-empty-state.js' %}"></script>
<script src="{% static 'assets1/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.masked-input.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.select.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.counter.js' %}"></script>
<script src="{% static 'assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets1/js/components/hs.rating.js' %}"></script>

<script src="{% static 'assets1/js/custom.js' %}"></script>

<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init( $('.js-scrollbar') );
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
          var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
          });
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>
<script src="{% static '/assets/js/plugins.js' %}"></script>
<script src="{% static '/assets/lib/loaders.css/loaders.css.js' %}"></script>
<script src="{% static '/assets/js/theme.js' %}"></script>
<script src="{% static '/assets/lib/fancybox/jquery.fancybox.min.js' %}"></script>

<script src="{% static '/assets/lib/semantic-ui-accordion/accordion.min.js' %}"></script>
<script src="{% static '/assets/lib/semantic-ui-transition/transition.min.js' %}"></script>

<script src="{% static 'assets/js/crop/cropper.min.js' %}"></script>
      <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 500,
          minCropBoxHeight: 500,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>
  </body>
</html>