//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.
.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.stroke_javood {
   -webkit-text-stroke: 1px #272727;
   color: white;
   text-shadow:
       3px 3px 0 #272727,
     -1px -1px 0 #272727,
      1px -1px 0 #272727,
      -1px 1px 0 #272727,
       1px 1px 0 #272727;
}