{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Change Password') }}{% endblock %}
{% block content %}
<section class="py-0" id="page-signin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="sticky-top h-lg-100vh py-9">
          <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/password_change.jpg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
          </div>
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
            <h3 class="display-4 fs-2">Пароль успешно изменен</h3>
            <p><a href="/ru/profile/{{ user.profile.slug }}"> В личный кабинет</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
