{% extends 'core/base_ru.html' %}
{% load static %}

{% block title %}{{ _('First Step | Reset Password') }}{% endblock %}
{% block content %}
<section class="py-0" id="page-signin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="sticky-top h-lg-100vh py-9">
          <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/password.jpg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
          </div>
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
            <h3 class="display-4 fs-2">Введите ваш электронный адрес для получения дальнейших инструкций:</h3>
            {% if form.errors %}
            <strong style="color: red">Неверный email</strong>
            {% endif %}
              <form class="mt-3" method="post">
                {% csrf_token %}
            <div class="form-group">
                    <input class="form-control border-300 bg-light" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Email адрес" >
                </div>
                <button class="btn btn-dark btn-block mt-3" type="submit" value="Reset my password">Сбросить пароль</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
