{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ _('First Step | Change Password') }}{% endblock %}
{% block content %}
<section class="py-0" id="page-signin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 px-0">
        <div class="sticky-top h-lg-100vh py-9">
          <div class="bg-holder" style="background-image:url({% static '/assets/img/fon/password_change.jpg' %});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'>
          </div>
        </div>
      </div>
      <div class="col-lg-6 bg-white py-6">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
            <h3 class="display-4 fs-2">Введіть ваш старий пароль, заради безпеки, тоді новий пароль двічі, для перевірки правильності:</h3>
              <form class="mt-3" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control border-300 bg-light" type="password" name="old_password" autofocus="" required="" id="id_old_password" placeholder="Старий пароль" >
                </div>
                <div class="form-group">
                    <input class="form-control border-300 bg-light" type="password" name="new_password1" required="" id="id_new_password1" placeholder="Новий пароль" >
                </div>
                <div class="form-group">
                    <input class="form-control border-300 bg-light" type="password" name="new_password2" required="" id="id_new_password2" placeholder="Підтвердження нового паролю" >
                </div>
                <button class="btn btn-dark btn-block mt-3" type="submit" value="Reset my password">Скинути пароль</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
